
@{
    ViewData["Title"] = "EmployeeSalaryPosting";
}


<div class="card">
    <div class="card-body" style="background-color:whitesmoke;font-size:14px">
        <div ng-app="myApp">
            <div ng-controller="myController">
                <div class="row">
                    
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>

<script>
    var app = angular.module('myApp', []);
    app.controller('myController', function ($scope, $http) {

        angular.element(document).ready(function () {
            
        })



    })
</script>

