@{
    ViewData["Title"] = "EmployeeInfo";
}

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
</head>

<div ng-app="myApp">
    <div ng-controller="myController">
        <div class="row" style="margin-top:-10px">
            <div class="col-sm-3 ">
                <h4>Employee Information</h4>
            </div>
            <div class="col-sm-8">
                <div>
                    <button class="btn btn-secondary btn-sm" ng-model="basicInfoButton"><strong>Basic Info</strong></button>
                    <button class="btn btn-secondary btn-sm" ng-model="employmentInfoButton"><strong>Employment Info</strong></button>
                    <button class="btn btn-secondary btn-sm" ng-model="salaryInfoButton"><strong>Salary Info</strong></button>
                    <button class="btn btn-secondary btn-sm" ng-model="bankAndTaxInfoButton"><strong>Bank and Tax Info</strong></button>
                    <button class="btn btn-success btn-sm" ng-click="downloadExcelBtn()"><strong>Excel</strong></button>
                    <button class="btn btn-success btn-sm" ng-click="Import()"><strong>Import ACS</strong></button>
                </div>
            </div>
        </div>
        <div class="row mt-2 mb-2 offset-2">
            <label class="col-sm-2">List of Employee</label>
            <div class="col-sm-7">
                <input class="form-select" style="background-color:lightcyan" placeholder="Search Employee Here" autocomplete="off" ng-model="searchQuery" ng-keyup="searchEmployee(searchQuery)">
                <select class="form-select form-select-sm" size="10" ng-model="empList" style="position:absolute;z-index:999;width: 530px; overflow:auto ;background: white none repeat scroll 0% 0%;" ng-show="employeeList.length > 0">
                    <option ng-repeat="employee in employeeList" value="{{employee.employeeId}}" ng-click="selectEmployee(employee)">{{employee.employeeName}}</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="row mb-2">
                    <label class="col-sm-4">Employee ID</label>
                    <div class="col-sm-8">
                        <input class="form-control form-control-sm" ng-model="employeeId" />
                    </div>
                </div>                
            </div>
            <div class="col-sm-6">
                <div class="row mb-2">
                    <label class="col-sm-4">Employee ID No</label>
                    <div class="col-sm-8">
                        <input class="form-control form-control-sm" ng-model="employeeIdNo" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    var app = angular.module('myApp', []);
    app.controller('myController', function ($scope, $http) {
        $scope.employeeList = [];
        $scope.selectedEmployee = null;
        $scope.searchEmployee = function (startingKey) {
            if (startingKey && startingKey.length > 1) {
                let Url = '';
                if (window.location.hostname == 'localhost')
                    Url = '/Employee/GetEmployeeListByKey';
                else
                    Url = '/AccountingNew/Employee/GetEmployeeListByKey';

                $http.get(Url, { params: { startingKey: startingKey } })
                    .then(function (response) {
                        $scope.employeeList = response.data;
                    }, function (error) {
                        console.error(error);
                    })
            } else {
                $scope.employeeList = [];
            }
        };

        $scope.selectEmployee = function (employee) {
            $scope.selectedEmployee = employee;
            $scope.searchQuery = employee.employeeName;
            $scope.empId = employee.employeeId;
            $scope.employeeList = [];
        }
    });
</script>
