@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "CashCollection";
    var userId = Context.Session.GetInt32("UserID");
    var accessRight = Context.Session.GetString("AccessRight");

    var accessRights = new string[0];

    if (string.IsNullOrEmpty(accessRight))
    {
        <script type="text/javascript">
            window.location.href = '@Url.Action("Index", "Home")';
        </script>
    }
    else
    {
        accessRights = accessRight.Split(',');
    }
}

<style>
    .selected-row {
        border: 2px solid black !important;
        background-color: lightgray;
    }

    .custom-margin-top {
        margin-top: -20px;
    }

    .selected-div {
        background-color: lightseagreen; /* Change to whatever color you prefer */
    }
</style>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
<div class="card">
    <div class="card-body" style="background-color:whitesmoke;font-size:14px">
        <div ng-app="myApp">
            <div ng-controller="myController">
                <h4 class="text-center" style="margin-top:-10px">Cash Collection</h4>
                <div class="row mt-3">
                    <div class="col-sm-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Company</label>
                            <div class="col-sm-9">
                                <input class="form-control form-control-sm" placeholder="Search Company Here" autocomplete="off" ng-model="company" ng-keyup="searchCompany(company)">
                            </div>
                        </div>
                        <div>Select a company</div>
                        <select class="form-control form-control-sm" size="15" ng-model="comList" style="height:225px;border:1px solid lightgray">
                            <option ng-repeat="company in companyList" value="{{company.id}}" ng-click="selectCompany(company)">{{company.name}}</option>
                        </select>

                        <div class="row mt-2">
                            <div class="col-sm-6">
                                <label class="fw-bold">Payment List</label>
                            </div>
                            <div class="col-sm-6">
                                <button class="btn btn-info btn-sm float-end px-4"><strong>Unpaid</strong></button>
                            </div>
                        </div>

                        <div class="mt-2" style="height: 165px; overflow-y: auto;border:1px solid lightgray">
                            <table class="table table-bordered table-hover table-sm" style="white-space:nowrap;">
                                <thead class="thead-light">
                                    <tr class="text-center">
                                        <th class="border">Sl#</th>
                                        <th class="border">Payment</th>
                                        <th class="border acenter">Tax</th>
                                        <th class="border">Date</th>
                                        <th class="border">Posted</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="o in paymentListData" ng-click="selectRowForpaymentList(o)" ng-class="{ 'selected-row': o === selectedRowForpaymentList }" ng-style="{'background-color': o.badDebt ? '#FF8080' : ''}">
                                        <td class="border text-center">{{$index + 1}}</td>
                                        <td class="border text-end">{{o.cash}}</td>
                                        <td class="border text-end">{{o.salesTax}}</td>
                                        <td class="border text-center">{{o.receivedDate}}</td>
                                        <td class="border text-center">{{o.posted ? 'Yes' : 'No'}}</td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="row mt-3">
                            <div class="col-sm-4">
                                <button class="btn btn-primary btn-sm px-4" ng-click="performAction('UPDATE')" ng-disabled="showBtnUpdate"><strong>Update</strong></button>
                            </div>
                            <div class="col-sm-4">
                                <button class="btn btn-success btn-sm px-4" ng-click="performAction('INSERT')" ng-disabled="showBtnInsert">
                                    <strong>Insert</strong>
                                    &nbsp;<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" ng-show="spinner"></span>
                                </button>
                            </div>
                            <div class="col-sm-4">
                                <button class="btn btn-info btn-sm" ng-click="postToOnlineBtn()"><strong>Post to Online</strong></></button>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <fieldset class="border p-2">
                                    <legend class="float-none w-auto p-2 fs-6 fw-bold">
                                        Cheque Bounced Section
                                    </legend>

                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="row">
                                                        <div class="col-sm-1"><input type="checkbox" ng-model="isBounced" ng-disabled="bouncedChequeFieldsDisabled" ng-change="bouncedChequeFieldsEmpty()"></div>
                                                        <div class="col-sm-10">IsBounced</div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="row">
                                                        <div class="col-sm-4">Cheque No</div>
                                                        <div class="col-sm-8"><input type="text" class="form-control form-control-sm text-end" ng-model="chequeNo" ng-disabled="bouncedChequeFieldsDisabled"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="row">
                                                <div class="col-sm-6 mt-1">
                                                    <div class="row">
                                                        <div class="col-sm-4">Date</div>
                                                        <div class="col-sm-8">
                                                            <input type="date" class="form-control form-control-sm select" ng-model="bouncedDate" ng-disabled="bouncedChequeFieldsDisabled">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 mt-1">
                                                    <div class="row">
                                                        <div class="col-sm-4">Amount</div>
                                                        <div class="col-sm-8"><input type="text" class="form-control form-control-sm text-end" value="0.00" ng-model="bouncedAmount" ng-disabled="bouncedChequeFieldsDisabled"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row mt-1">
                                        <div class="col-sm-12">
                                            <div class="row">
                                                <div class="col-sm-2">Note</div>
                                                <div class="col-sm-10">
                                                    <textarea type="text" class="form-control form-control-sm" ng-model="bouncedNote" ng-disabled="bouncedChequeFieldsDisabled"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="mt-2">
                                        <button type="button" class="btn btn-success btn-sm float-end" ng-click="submit()" ng-disabled="bouncedChequeFieldsDisabled"><strong>Submit</strong></button>
                                    </div>
                                </fieldset>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-6">
                                <label>Show due invoices &nbsp; <input type="checkbox" ng-model="due" ng-change="getInvoices()" /></label>
                            </div>
                            <div class="col-sm-6">
                                <label class="float-end"><input type="checkbox" ng-model="paid" ng-change="getInvoices()" />&nbsp; Show paid invoices </label>
                            </div>
                        </div>
                        <div class="mt-2" style="height: 183px; overflow-y: auto;border:1px solid lightgray">
                            <table class="table table-bordered table-hover table-sm" style="white-space:nowrap;">
                                <thead class="thead-light">
                                    <tr class="text-center">
                                        <th class="border">Sl#</th>
                                        <th class="border">Invoice No.</th>
                                        <th class="border acenter">Amount</th>
                                        <th class="border">Uploaded</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="o in invoiceData" ng-click="selectRow(o)" ng-class="{ 'selected-row': o === selectedRow }">
                                        <td class="border text-center">{{$index + 1}}</td>
                                        <td class="border text-center">{{o.invoice_No}}</td>
                                        <td class="border text-end">{{o.tAmount}}</td>
                                        <td class="border text-center">{{o.uploadedPaymentStatus}}</td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="row mt-2">
                            <div class="col-sm-6">
                                <label class="fw-bold">Sales List</label>
                            </div>
                            <div class="col-sm-6">
                                <button class="btn btn-info btn-sm float-end"><strong>Collection Note</strong></button>
                            </div>
                        </div>
                        <div class="mt-2" style="height:100px; overflow-y: auto;border:1px solid lightgray">
                            <table class="table table-bordered table-hover table-sm">
                                <tbody>
                                    <tr ng-repeat="o in salesListData" ng-click="selectRowForSalesList(o)" ng-class="{ 'selected-row': o === selectedRowForSalesList }">
                                        <td>{{$index+1}}. {{o.sbName}} TK. {{o.amount}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <fieldset class="border p-2">
                            <legend class="float-none w-auto p-2 fs-6 fw-bold">Payment Nature</legend>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group row">
                                        <label class="col-sm-4">Date</label>
                                        <div class="col-sm-8">
                                            <input type="date" ng-model="receivedDate" class="form-control form-control-sm" />

                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group row">
                                        <label class="col-sm-4">Amount</label>
                                        <div class="col-sm-8">
                                            <input type="text" ng-model="amount" class="form-control form-control-sm" style="text-align:right" />
                                        </div>
                                    </div>
                                </div>

                                <div class="mt-2">
                                    <div class="border-bottom border-1">Payment Status</div>
                                </div>

                                <div class="col-sm-12 mt-2">
                                    <div class="row">
                                        <div class="col-sm-6">

                                            <div class="pb-1" ng-class="{ 'selected-div': showFieldset === 'bKashAgentCollection' }">
                                                <div class="col-sm-12 border-bottom border-1 pb-2">
                                                    <div class="col-12 px-1" ng-click="toggleFieldset('bKashAgentCollection', 16, 31259)">
                                                        <div class="col-sm-12">
                                                            bKash Agent Collection
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="px-1 pb-1" ng-class="{ 'selected-div': showFieldset === 'BankInfo' }">
                                                <div class="col-sm-12 border-bottom border-1 pb-2">
                                                    <div class="col-sm-12" ng-click="toggleFieldset('BankInfo', 2, 0)">
                                                        <div class="col-sm-12">
                                                            Cheque
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12" ng-show="showFieldset === 'BankInfo'">
                                                    <div class="col-sm-12">
                                                        <fieldset class="border p-2">
                                                            <legend class="float-none w-auto p-2 fs-6">
                                                                Bank Info
                                                            </legend>
                                                            <div class="row custom-margin-top">
                                                                <div class="col-sm-12">
                                                                    <div class="row">
                                                                        <div class="col-sm-12">
                                                                            <select class="form-select form-select-sm" ng-model="ledgerList">
                                                                                <option value=""></option>
                                                                                <option ng-repeat="ledger in allLedgerData" value="{{ledger.id}}">{{ledger.ladgerName}}</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row" style="margin-top: 3px;">
                                                                        <div class="col-sm-5">
                                                                            Cheque No.
                                                                        </div>
                                                                        <div class="col-sm-7">
                                                                            <input name="cheq no" type="text" ng-model="chequeNo" class="form-control form-control-sm">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </fieldset>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="px-1 pb-1" ng-class="{ 'selected-div': showFieldset === 'VATType' }">
                                                <div class="col-sm-12 border-bottom border-1 pb-2">
                                                    <div class="col-sm-12" ng-click="toggleFieldset('VATType', 3, 0)">
                                                        <div class="col-sm-12">
                                                            VAT
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12" ng-show="showFieldset === 'VATType'">
                                                    <div class="col-sm-12">
                                                        <fieldset class="border p-2">
                                                            <legend class="float-none w-auto p-2 fs-6">
                                                                VAT Type
                                                            </legend>
                                                            <div class="row custom-margin-top">
                                                                <div class="col-sm-12">
                                                                    <select class="form-select form-select-sm" ng-model="vatType">
                                                                        <option value=""></option>

                                                                        <option value="28747">Accounts Receivable-VDS</option>
                                                                        <option value="31074">Accounts Receivable-TDS</option>

                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </fieldset>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="pb-1" ng-class="{ 'selected-div': showFieldset === 'BadDebt' }">
                                                <div class="col-sm-12 border-bottom border-1 pb-2">
                                                    <div class="col-12 px-1" ng-click="toggleFieldset('BadDebt', 4, 378)">
                                                        <div class="col-sm-12">
                                                            Bad Debt
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="px-1 pb-1" ng-class="{ 'selected-div': showFieldset === 'Nagad' }">
                                                <div class="col-sm-12 border-bottom border-1 pb-2">
                                                    <div class="col-sm-12" ng-click="toggleFieldset('Nagad', 5, 28724)">
                                                        <div class="col-sm-12">
                                                            Nagad Mobile A/C
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12" ng-show="showFieldset === 'Nagad'">
                                                    <div class="col-sm-12">
                                                        <fieldset class="border p-2">
                                                            <legend class="float-none w-auto p-2 fs-6">
                                                                Reference No:
                                                            </legend>
                                                            <div class="row custom-margin-top">
                                                                <div class="col-sm-12">
                                                                    <input type="text" ng-model="refNagadNo" class="form-control input-sm">
                                                                </div>
                                                            </div>
                                                        </fieldset>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="px-1 pb-1" ng-class="{ 'selected-div': showFieldset === 'SSL' }">
                                                <div class="col-sm-12 border-bottom border-1 pb-2">
                                                    <div class="col-sm-12" ng-click="toggleFieldset('SSL', 6, 849)">
                                                        <div class="col-sm-12">
                                                            SSL Marchant A/C
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12" ng-show="showFieldset === 'SSL'">
                                                    <div class="col-sm-12">
                                                        <fieldset class="border p-2">
                                                            <legend class="float-none w-auto p-2 fs-6">
                                                                Reference No:
                                                            </legend>
                                                            <div class="row custom-margin-top">
                                                                <div class="col-sm-12">
                                                                    <input type="text" ng-model="refSSLNo" class="form-control input-sm">
                                                                </div>
                                                            </div>
                                                        </fieldset>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="px-1 pb-1" ng-class="{ 'selected-div': showFieldset === 'bKash' }">
                                                <div class="col-sm-12 border-bottom border-1 pb-2">
                                                    <div class="col-sm-12" ng-click="toggleFieldset('bKash', 7, 1030)">
                                                        <div class="col-sm-12">
                                                            bKash Marchant A/C
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12" ng-show="showFieldset === 'bKash'">
                                                    <div class="col-sm-12">
                                                        <fieldset class="border p-2">
                                                            <legend class="float-none w-auto p-2 fs-6">
                                                                Reference No:
                                                            </legend>
                                                            <div class="row custom-margin-top">
                                                                <div class="col-sm-12">
                                                                    <input type="text" ng-model="refbKashNo" class="form-control input-sm">
                                                                </div>
                                                            </div>
                                                        </fieldset>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="pb-1" ng-class="{ 'selected-div': showFieldset === 'DiscountOfSales' }">
                                                <div class="col-sm-12 border-bottom border-1 pb-2">
                                                    <div class="col-12 px-1" ng-click="toggleFieldset('DiscountOfSales', 8, 850)">
                                                        <div class="col-sm-12">
                                                            Discount of Sales
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>

                                        <div class="col-sm-6">
                                            <div class="px-1 pb-1" ng-class="{ 'selected-div': showFieldset === 'AmarPay' }">
                                                <div class="col-sm-12 border-bottom border-1 pb-2">
                                                    <div class="col-sm-12" ng-click="toggleFieldset('AmarPay', 15, 31237)">
                                                        <div class="col-sm-12">
                                                            AmarPay Marchant A/C
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12" ng-show="showFieldset === 'AmarPay'">
                                                    <div class="col-sm-12">
                                                        <fieldset class="border p-2">
                                                            <legend class="float-none w-auto p-2 fs-6">
                                                                Reference No:
                                                            </legend>
                                                            <div class="row custom-margin-top">
                                                                <div class="col-sm-12">
                                                                    <input type="text" ng-model="refAmarNo" class="form-control input-sm">
                                                                </div>
                                                            </div>
                                                        </fieldset>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="px-1 pb-1" ng-class="{ 'selected-div': showFieldset === 'SouthEast' }">
                                                <div class="col-sm-12 border-bottom border-1 pb-2">
                                                    <div class="col-sm-12" ng-click="toggleFieldset('SouthEast', 10, 411)">
                                                        <div class="col-sm-12">
                                                            Southeast
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12" ng-show="showFieldset === 'SouthEast'">
                                                    <div class="col-sm-12">
                                                        <fieldset class="border p-2">
                                                            <legend class="float-none w-auto p-2 fs-6">
                                                                Reference No:
                                                            </legend>
                                                            <div class="row custom-margin-top">
                                                                <div class="col-sm-12">
                                                                    <input type="text" ng-model="refSoutheastNo" class="form-control input-sm">
                                                                </div>
                                                            </div>
                                                        </fieldset>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="px-1 pb-1" ng-class="{ 'selected-div': showFieldset === 'Brac' }">
                                                <div class="col-sm-12 border-bottom border-1 pb-2">
                                                    <div class="col-sm-12" ng-click="toggleFieldset('Brac', 11, 851)">
                                                        <div class="col-sm-12">
                                                            Brac
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12" ng-show="showFieldset === 'Brac'">
                                                    <div class="col-sm-12">
                                                        <fieldset class="border p-2">
                                                            <legend class="float-none w-auto p-2 fs-6">
                                                                Reference No:
                                                            </legend>
                                                            <div class="row custom-margin-top">
                                                                <div class="col-sm-12">
                                                                    <input type="text" ng-model="refBracNo" class="form-control input-sm">
                                                                </div>
                                                            </div>
                                                        </fieldset>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="px-1 pb-1" ng-class="{ 'selected-div': showFieldset === 'SCB' }">
                                                <div class="col-sm-12 border-bottom border-1 pb-2">
                                                    <div class="col-sm-12" ng-click="toggleFieldset('SCB', 12, 647)">
                                                        <div class="col-sm-12">
                                                            SCB
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12" ng-show="showFieldset === 'SCB'">
                                                    <div class="col-sm-12">
                                                        <fieldset class="border p-2">
                                                            <legend class="float-none w-auto p-2 fs-6">
                                                                Reference No:
                                                            </legend>
                                                            <div class="row custom-margin-top">
                                                                <div class="col-sm-12">
                                                                    <input type="text" ng-model="refSCBNo" class="form-control input-sm">
                                                                </div>
                                                            </div>
                                                        </fieldset>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="px-1 pb-1" ng-class="{ 'selected-div': showFieldset === 'UCB' }">
                                                <div class="col-sm-12 border-bottom border-1 pb-2">
                                                    <div class="col-sm-12" ng-click="toggleFieldset('UCB', 13, 28816)">
                                                        <div class="col-sm-12">
                                                            UCB
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12" ng-show="showFieldset === 'UCB'">
                                                    <div class="col-sm-12">
                                                        <fieldset class="border p-2">
                                                            <legend class="float-none w-auto p-2 fs-6">
                                                                Reference No:
                                                            </legend>
                                                            <div class="row custom-margin-top">
                                                                <div class="col-sm-12">
                                                                    <input type="text" ng-model="refUCBNo" class="form-control input-sm">
                                                                </div>
                                                            </div>
                                                        </fieldset>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="px-1 pb-1" ng-class="{ 'selected-div': showFieldset === 'OnlinePayment' }">
                                                <div class="col-sm-12 border-bottom border-1 pb-2">
                                                    <div class="col-sm-12" ng-click="toggleFieldset('OnlinePayment', 14, 2262)">
                                                        <div class="col-sm-12">
                                                            Online Payment Payable
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12" ng-show="showFieldset === 'OnlinePayment'">
                                                    <div class="col-sm-12">
                                                        <fieldset class="border p-2">
                                                            <legend class="float-none w-auto p-2 fs-6">
                                                                Reference No:
                                                            </legend>
                                                            <div class="row custom-margin-top">
                                                                <div class="col-sm-12">
                                                                    <input type="text" ng-model="refONLNo" class="form-control input-sm">
                                                                </div>
                                                            </div>
                                                        </fieldset>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="pb-1" ng-class="{ 'selected-div': showFieldset === 'OnlineCollection' }">
                                                <div class="col-sm-12 border-bottom border-1 pb-2">
                                                    <div class="col-12 px-1" ng-click="toggleFieldset('OnlineCollection', 9, 3342)">
                                                        <div class="col-sm-12">
                                                            Online Collection Charges
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="pb-1" ng-class="{ 'selected-div': showFieldset === 'Cash' }">
                                                <div class="col-sm-12 border-bottom border-1 pb-2">
                                                    <div class="col-12 px-1" ng-click="toggleFieldset('Cash', 1, 46)">
                                                        <div class="col-sm-12">
                                                            Cash
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <input type="hidden" ng-model="payment" />
                                            <input type="hidden" ng-model="paymentId" />
                                            <input type="hidden" ng-model="accountReceivable" />
                                            <input type="hidden" ng-model="invoiceNo" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var app = angular.module('myApp', []);
    app.controller('myController', function ($scope, $http) {
        angular.element(document).ready(function () {
            $scope.payment = 1;
            $scope.paymentId = 46;
            $scope.getAllLedger();
            $scope.receivedDate = new Date();
            $scope.bouncedDate = new Date();
            $scope.showBtnInsert = true;
            $scope.showBtnUpdate = true;
            $scope.loadClosingDate();
            $scope.showFieldset = 'bKashAgentCollection';
            $scope.bouncedChequeFieldsDisabled = true;
        })

        $scope.showFieldset = '';
        $scope.toggleFieldset = function (divName, dataValue, dataId) {
            $scope.showFieldset = divName === $scope.showFieldset ? '' : divName;
            $scope.passValue = dataValue;
            $scope.passId = dataId;
            $scope.divIdWiseSelect();
        };

        var previousValue = 0;
        $scope.divIdWiseSelect = function () {
            if ($scope.passValue == 2 || $scope.passValue == 3 || $scope.passValue == 5 || $scope.passValue == 6 || $scope.passValue == 7 || $scope.passValue == 10 || $scope.passValue == 11 || $scope.passValue == 12 || $scope.passValue == 13 || $scope.passValue == 14 || $scope.passValue == 15) {
                if ($scope.passValue == 2) {
                    if (previousValue != 2) {
                        $scope.ledgerList = '411';
                        $scope.chequeNo = '';
                    }
                    $scope.vatType = '';

                    $scope.refSSLNo = '';
                    $scope.refAmarNo = '';
                    $scope.refbKashNo = '';
                    $scope.refNagadNo = '';
                    $scope.refBracNo = '';
                    $scope.refSoutheastNo = '';
                    $scope.refSCBNo = '';
                    $scope.refUCBNo = '';
                    $scope.refONLNo = '';
                }
                if ($scope.passValue == 3) {
                    if ($scope.vatType == '') {
                        $scope.vatType == '';
                    }
                    $scope.ledgerList = '411';
                    $scope.chequeNo = '';

                    $scope.refSSLNo = '';
                    $scope.refAmarNo = '';
                    $scope.refbKashNo = '';
                    $scope.refNagadNo = '';
                    $scope.refBracNo = '';
                    $scope.refSoutheastNo = '';
                    $scope.refSCBNo = '';
                    $scope.refUCBNo = '';
                    $scope.refONLNo = '';
                }
                if ($scope.passValue == 5 || $scope.passValue == 6 || $scope.passValue == 7 || $scope.passValue == 10 || $scope.passValue == 11 || $scope.passValue == 12 || $scope.passValue == 13 || $scope.passValue == 14 || $scope.passValue == 15) {
                    $scope.vatType == '';
                    $scope.ledgerList = '411';

                    $scope.refSSLNo = '';
                    $scope.refAmarNo = '';
                    $scope.refbKashNo = '';
                    $scope.refNagadNo = '';
                    $scope.refBracNo = '';
                    $scope.refSoutheastNo = '';
                    $scope.refSCBNo = '';
                    $scope.refUCBNo = '';
                    $scope.refONLNo = '';
                }
            }
            else {
                $scope.vatType == '';
                $scope.ledgerList = '411';
                $scope.chequeNo = '';

                $scope.refSSLNo = '';
                $scope.refAmarNo = '';
                $scope.refbKashNo = '';
                $scope.refNagadNo = '';
                $scope.refBracNo = '';
                $scope.refSoutheastNo = '';
                $scope.refSCBNo = '';
                $scope.refUCBNo = '';
                $scope.refONLNo = '';
            }
            $scope.payment = $scope.passValue;
            $scope.paymentId = $scope.passId;
            previousValue = $scope.passValue;
        };



        $scope.companyList = [];
        $scope.searchCompany = function (startingKey) {
            if (startingKey && startingKey.length > 1) {
                let Url = '';
                if (window.location.hostname == 'localhost')
                    Url = '/Company/GetCompanyListByKey';
                else
                    Url = '/AccountingNew/Company/GetCompanyListByKey';

                $http.get(Url, { params: { startingKey: startingKey } })
                    .then(function (response) {
                        $scope.companyList = response.data;
                    }, function (error) {
                        console.error(error);
                    })
            } else {
                $scope.companyList = [];
            }
        };

        $scope.selectedCompany = null;
        $scope.selectCompany = function (company) {
            sbName = null;
            row = null;

            $scope.selectedCompany = company;
            $scope.company = company.name;

            $scope.due = true;
            $scope.getInvoices();

            $scope.showTable = true;
            $scope.makeInvoiceBtn = false;
            $scope.receivedDate = new Date();
        }

        $scope.emptyBouncedFielsWithDueOrPaidCheckbox = function () {
            $scope.chequeNo = '';
            $scope.isBounced = false;
            $scope.bouncedAmount = '';
            $scope.bouncedNote = '';
            $scope.bouncedDate = new Date();
        };

        $scope.getInvoices = function () {
            var str;
            if ($scope.due && !$scope.paid) {
                str = "" + $scope.selectedCompany.id + ", 0, 0";
                $scope.bouncedChequeFieldsDisabled = true;
                $scope.emptyBouncedFielsWithDueOrPaidCheckbox();
            }
            else if (!$scope.due && $scope.paid) {
                str = "" + $scope.selectedCompany.id + ", 1, null";
                $scope.bouncedChequeFieldsDisabled = false;
            }
            else if ($scope.due && $scope.paid) {
                str = "" + $scope.selectedCompany.id + ", null, 0";
                $scope.bouncedChequeFieldsDisabled = true;
                $scope.emptyBouncedFielsWithDueOrPaidCheckbox();
            }
            else if (!$scope.due && !$scope.paid) {
                $scope.bouncedChequeFieldsDisabled = true;
                $scope.emptyBouncedFielsWithDueOrPaidCheckbox();
            }
            else
                str = "";

            if (str != "") {
                let Url = '';
                if (window.location.hostname == 'localhost')
                    Url = '/Invoice/GetInvoicesForCashCollection';
                else
                    Url = '/AccountingNew/Invoice/GetInvoicesForCashCollection';

                $http.get(Url, { params: { query: str } })
                    .then(function (response) {
                        $scope.invoiceData = response.data;
                    })
                    .catch(function (error) {
                        console.log(error);
                    })
            }
            $scope.invoiceData = [];
            $scope.paymentListData = [];
            $scope.salesListData = [];

        }

        $scope.selectedRow = null;
        $scope.selectRow = function (row) {
            $scope.showBtnInsert = false;
            if ($scope.selectedRow === row) {
                $scope.selectedRow = null;
            } else {
                $scope.selectedRow = row;
                $scope.getSalesList();
                if (!$scope.due && $scope.paid) {
                    $scope.getBouncedData($scope.selectedRow.invoice_No);
                }
            }
        };

        $scope.selectedRowForSalesList = null;
        $scope.selectRowForSalesList = function (row) {
            if ($scope.selectedRowForSalesList === row) {
                $scope.selectedRowForSalesList = null;
            } else {
                $scope.selectedRowForSalesList = row;
                $scope.getPaymentList($scope.selectedRowForSalesList.id);


            }
        };

        $scope.selectedRowForpaymentList = null;
        $scope.selectRowForpaymentList = function (row) {
            if ($scope.selectedRowForpaymentList === row) {
                $scope.selectedRowForpaymentList = null;
            } else {
                $scope.selectedRowForpaymentList = row;

                var cash = parseFloat($scope.selectedRowForpaymentList.cash);
                var salesTax = parseFloat($scope.selectedRowForpaymentList.salesTax);
                $scope.amount = (cash + salesTax).toFixed(2);
                $scope.receivedDate = new Date($scope.selectedRowForpaymentList.receivedDate);

                var vattype = "";
                var cheque = "";
                var bankId = 0;
                if ($scope.selectedRowForpaymentList.badDebt == 'true') {
                    $scope.showFieldset = 'BadDebt';
                    $scope.payment = 4;
                    $scope.paymentId = 378;
                }
                else if ($scope.selectedRowForpaymentList.paymentType == '' || $scope.selectedRowForpaymentList.paymentType == null || $scope.selectedRowForpaymentList.paymentType == 'Cash') {
                    $scope.showFieldset = 'Cash';
                    $scope.payment = 1;
                    $scope.paymentId = 46;
                }
                // else if ($scope.selectedRowForpaymentList.paymentType == 'bKash') {
                //     $scope.refbKashNo = $scope.selectedRowForpaymentList.chequeDetails;
                //     $scope.showFieldset = 'bKash';
                // }
                else if ($scope.selectedRowForpaymentList.paymentType == 'VAT' || $scope.selectedRowForpaymentList.paymentType == 'AIT' || $scope.selectedRowForpaymentList.paymentType == 'Accounts Receivable-VDS' || $scope.selectedRowForpaymentList.paymentType == 'Accounts Receivable-TDS') {
                    $scope.showFieldset = 'VATType';
                    $scope.payment = 3;
                    $scope.paymentId = 0;
                    // $scope.vatType = "28747";
                    vattype = $scope.selectedRowForpaymentList.paymentType;
                }
                // else if ($scope.selectedRowForpaymentList.paymentType == 'Accounts Receivable-TDS') {
                //     $scope.showFieldset = 'VATType';
                //     $scope.vatType = "31074";
                // }
                else if ($scope.selectedRowForpaymentList.bankId != 0) {

                    cheque = $scope.selectedRowForpaymentList.chequeDetails;
                    bankId = $scope.selectedRowForpaymentList.bankId;

                    if (bankId == 411) {
                        $scope.showFieldset = 'SouthEast';
                        $scope.payment = 10;
                        $scope.paymentId = bankId;
                        $scope.refSoutheastNo = cheque;
                    }
                    else if (bankId == 851) {
                        $scope.showFieldset = 'Brac';
                        $scope.payment = 11;
                        $scope.paymentId = bankId;
                        $scope.refBracNo = cheque;
                    }
                    else if (bankId == 647) {
                        $scope.showFieldset = 'SCB';
                        $scope.payment = 12;
                        $scope.paymentId = bankId;
                        $scope.refSCBNo = cheque;
                    }
                    else if (bankId == 28816) {
                        $scope.showFieldset = 'UCB';
                        $scope.payment = 13;
                        $scope.paymentId = bankId;
                        $scope.refUCBNo = cheque;
                    }
                    else if (bankId == 2262) {
                        $scope.showFieldset = 'OnlinePayment';
                        $scope.payment = 14;
                        $scope.paymentId = bankId;
                        $scope.refONLNo = cheque;
                    }
                    else {
                        $scope.showFieldset = 'BankInfo';
                        $scope.payment = 2;
                        $scope.paymentId = bankId;
                    }
                }
                else if ($scope.selectedRowForpaymentList.paymentType == "SSL") {
                    $scope.showFieldset = 'SSL';
                    $scope.payment = 6;
                    $scope.paymentId = 849;
                    $scope.refSSLNo = $scope.selectedRowForpaymentList.chequeDetails;
                    cheque = $scope.selectedRowForpaymentList.chequeDetails;
                }
                else if ($scope.selectedRowForpaymentList.paymentType == "Amar") {
                    $scope.showFieldset = "AmarPay";
                    $scope.payment = 15;
                    $scope.paymentId = 31237;
                    $scope.refAmarNo = $scope.selectedRowForpaymentList.chequeDetails;
                    cheque = $scope.selectedRowForpaymentList.chequeDetails;
                }
                else if ($scope.selectedRowForpaymentList.paymentType == "Nagad") {
                    $scope.showFieldset = "Nagad";
                    $scope.payment = 5;
                    $scope.paymentId = 28724;
                    $scope.refNagadNo = $scope.selectedRowForpaymentList.chequeDetails;
                    cheque = $scope.selectedRowForpaymentList.chequeDetails;
                }
                else if ($scope.selectedRowForpaymentList.paymentType == "Brac") {
                    $scope.showFieldset = "Brac";
                    $scope.payment = 11;
                }
                else if ($scope.selectedRowForpaymentList.paymentType == "Discount") {
                    $scope.showFieldset = "DiscountOfSales";
                    $scope.payment = 8;
                }
                else if ($scope.selectedRowForpaymentList.paymentType == "bAgent") {
                    $scope.showFieldset = "bKashAgentCollection";
                    $scope.payment = 16;
                    $scope.paymentId = 31259;
                }
                else if ($scope.selectedRowForpaymentList.paymentType == "OnlineCharges") {
                    $scope.showFieldset = "OnlineCollection";
                    $scope.payment = 9;
                    $scope.paymentId = 3342;
                }
                else if ($scope.selectedRowForpaymentList.paymentType.toLowerCase() == "bkash") {
                    $scope.showFieldset = "bKash";
                    $scope.payment = 7;
                    $scope.paymentId = 1030;
                    $scope.refbKashNo = $scope.selectedRowForpaymentList.chequeDetails;
                    cheque = $scope.selectedRowForpaymentList.chequeDetails;
                }
                if ($scope.showFieldset != "") {
                    if ($scope.showFieldset == 'BankInfo' || $scope.showFieldset == 'VATType' || $scope.showFieldset == 'SSL' || $scope.showFieldset == 'AmarPay' || $scope.showFieldset == 'bKashAgentCollection' || $scope.showFieldset == 'bKash' || $scope.showFieldset == 'Nagad' || $scope.showFieldset == 'SouthEast' || $scope.showFieldset == 'Brac' || $scope.showFieldset == 'SCB' || $scope.showFieldset == 'UCB' || $scope.showFieldset == 'OnlinePayment') {
                        $scope.showFieldset == true;
                    }
                    if ($scope.showFieldset == 'BankInfo') {
                        $scope.ledgerList = bankId.toString();
                        $scope.chequeNo = $scope.selectedRowForpaymentList.chequeDetails;
                        cheque = $scope.selectedRowForpaymentList.chequeDetails;
                        $scope.vatType = '';
                        $scope.paymentId = bankId;
                    }
                    if ($scope.showFieldset == 'VATType') {
                        var vat_id = "";
                        if (vattype == "VAT")
                            vat_id = '847';
                        if (vattype == "AIT" || vattype == "TDS by Customer")
                            vat_id = '1189';
                        if (vattype == "Accounts Receivable-TDS")
                            vat_id = '31074';
                        if (vattype == "Accounts Receivable-VDS")
                            vat_id = '28747';
                        $scope.vatType = vat_id;
                        $scope.ledgerList = '411';
                        $scope.chequeNo = '';
                        $scope.paymentId = vat_id;
                    }
                    if ($scope.showFieldset == "SSL" || $scope.showFieldset == "bKash" || $scope.showFieldset == "AmarPay" || $scope.showFieldset == "bKashAgentCollection" || $scope.showFieldset == "Nagad" || $scope.showFieldset == "SouthEast" || $scope.showFieldset == "Brac" || $scope.showFieldset == "SCB" || $scope.showFieldset == "UCB" || $scope.showFieldset == "OnlinePayment") {
                        cheque = $scope.selectedRowForpaymentList.chequeDetails;
                        $scope.vatType = vat_id;
                        $scope.ledgerList = '411';
                        $scope.chequeNo = '';
                    }
                }
            }
        };

        $scope.getSalesList = function () {
            $scope.invoiceNo = $scope.selectedRow.invoice_No;
            var no = $scope.selectedRow.invoice_No;
            let Url = '';
            if (window.location.hostname == 'localhost')
                Url = '/Sale/GetSalesInfo';
            else
                Url = '/AccountingNew/Sale/GetSalesInfo';

            $http.get(Url, { params: { InvoiceNo: no } })
                .then(function (response) {
                    $scope.salesListData = response.data;
                    //$scope.getPaymentList($scope.salesListData[0].id);
                }, function (error) {
                    console.error(error);
                })
        }

        $scope.getAllLedger = function () {
            let Url = '';
            if (window.location.hostname == 'localhost')
                Url = '/Ledger/GetAllEveryLedger';
            else
                Url = '/AccountingNew/Ledger/GetAllEveryLedger';

            $http.get(Url, { params: { isCashCollection: "1" } })
                .then(function (response) {
                    $scope.allLedgerData = response.data;
                }, function (error) {
                    console.error(error);
                })
        }

        $scope.getPaymentList = function (id) {
            let Url = '';
            if (window.location.hostname == 'localhost')
                Url = '/Payment/GetCashCollection';
            else
                Url = '/AccountingNew/Payment/GetCashCollection';

            $http.get(Url, { params: { Id: id } })
                .then(function (response) {
                    $scope.paymentListData = response.data;

                    $scope.total = 0;
                    angular.forEach($scope.paymentListData, function (item) {
                        $scope.total += (parseFloat(item.cash) + parseFloat(item.salesTax));
                    });
                    $scope.amount = parseFloat($scope.selectedRowForSalesList.amount - $scope.total).toFixed(2);
                    $scope.accountReceivable = parseFloat($scope.selectedRowForSalesList.amount - $scope.total).toFixed(2);
                }, function (error) {
                    console.error(error);
                })
        }

        $scope.loadClosingDate = function () {
            let Url = '';
            if (window.location.hostname == 'localhost')
                Url = '/Journal/GetClosingDate';
            else
                Url = '/AccountingNew/Journal/GetClosingDate';

            $http.get(Url)
                .then(function (response) {
                    $scope.closingDateData = response.data;
                }, function (error) {
                    console.error(error);
                })
        };

        $scope.postToOnline = function (postType, invoiceNo, invoiceId) {
            var jsonData = {
                postType: postType,
                invoiceNo: invoiceNo,
                invoiceId: invoiceId,

            }
            let Url = '';
            if (window.location.hostname == 'localhost')
                Url = '/Invoice/PostToOnline';
            else
                Url = '/AccountingNew/Invoice/PostToOnline';


            $http.post(Url, JSON.stringify(jsonData), { headers: { 'Content-Type': 'application/json' } })
                .then(function (response) {
                    alert(response.data);
                    if (data.Connection == true && $scope.postType == "All") {
                        location.reload();
                    }
                }, function (error) {
                    console.error(error);
                })
        }

        $scope.postToOnlineBtn = function () {
            $scope.postToOnline("All", 0, 0);
        }

        $scope.performAction = function (action) {
            var amount = $scope.amount;
            var date1 = new Date($scope.receivedDate);
            var date2 = new Date($scope.closingDateData);
            var isvalid = true;
            if (action == 'INSERT') {
                var access = '@accessRights.Contains("1")';
                if (access == 'False') {
                    alert("Sorry, You have no permission to insert a record.");
                }
            } else {
                var access = '@accessRights.Contains("2")';
                if (access == 'False') {
                    alert("Sorry, You have no permission to update a record.");
                }

            }
            if (isvalid = true) {
                if (amount == "" || amount == "0.00") {
                    alert("Balance is 0, so it is no need to insert this amount.");
                }
                else if ($scope.payment == 2 && ($scope.ledgerList == "" || $scope.ledgerList == null)) {
                    alert("You must select a Bank Account.");
                }
                else if ($scope.payment == 2 && $scope.chequeNo == "") {
                    alert("You must give the cheque number.");
                }
                else if ($scope.payment == 3 && ($scope.vatType == "" || $scope.vatType == null)) {
                    alert("'You must select a Tax type.'");
                }
                else if ($scope.payment == 5 && ($scope.refNagadNo == "" || $scope.refNagadNo == null)) {
                    alert("You must give the Nagad reference number.");
                }
                else if ($scope.payment == 6 && ($scope.refSSLNo == "" || $scope.refSSLNo == null)) {
                    alert("You must give the SSL reference number.");
                }
                else if ($scope.payment == 15 && ($scope.refAmarNo == "" || $scope.refAmarNo == null)) {
                    alert("You must give the AmarPay reference number.");
                }
                else if ($scope.payment == 7 && ($scope.refbKashNo == "" || $scope.refbKashNo == null)) {
                    alert("You must give the bKash reference number.");
                }
                else if ($scope.payment == 10 && ($scope.refSoutheastNo == "" || $scope.refSoutheastNo == null)) {
                    alert("You must give the Southeast Bank reference number.");
                }
                else if ($scope.payment == 11 && ($scope.refBracNo == "" || $scope.refBracNo == null)) {
                    alert("You must give the Brac Bank reference number.");
                }
                else if ($scope.payment == 12 && ($scope.refSCBNo == "" || $scope.refSCBNo == null)) {
                    alert("You must give the SCB reference number.");
                }
                else if ($scope.payment == 13 && ($scope.refUCBNo == "" || $scope.refUCBNo == null)) {
                    alert("You must give the UCB reference number.");
                }
                else if ($scope.payment == 14 && ($scope.refONLNo == "" || $scope.refONLNo == null)) {
                    alert("You must give the Online Payment reference number.");
                }
                else if ($scope.date1 <= $scope.date2) {
                    alert("Date must be given after journal Closing date.");
                }
                else if (action == 'INSERT' && parseFloat(amount) > parseFloat($scope.accountReceivable)) {
                    alert("The amount that you have given is greater than the balance of the sales.<br/>You must give the correct amount.");
                }
                else if (action == 'UPDATE' && parseFloat(parseFloat(amount) - parseFloat($scope.selectedRowForpaymentList.cash) + parseFloat($scope.selectedRowForpaymentList.salesTax)) > parseFloat($scope.accountReceivable)) {
                    alert('The amount that you have given is greater than the balance of the sales.\nYou must give the correct amount.');
                }
                else {
                    var cheque = $scope.payment == 2 ? $scope.chequeNo : $scope.payment == 6 ? $scope.refSSLNo : $scope.payment == 15 ? $scope.refAmarNo : $scope.payment == 7 ? $scope.refbKashNo : $scope.payment == 5 ? $scope.refNagadNo : $scope.payment == 10 ? $scope.refSoutheastNo : $scope.payment == 11 ? $scope.refBracNo : $scope.payment == 12 ? $scope.refSCBNo : $scope.payment == 13 ? $scope.refUCBNo : $scope.payment == 14 ? $scope.refONLNo : '';
                    var ledgerId = $scope.paymentId;
                    if ($scope.payment == 2) {
                        ledgerId = $scope.ledgerList;
                    } else if ($scope.payment == 3) {
                        ledgerId = $scope.vatType;
                    }
                    if (action == 'INSERT') {
                        $scope.spinner = true;
                        var userId = @userId;

                        var jsonData = {
                            type: ($scope.payment - 1).toString(),
                            userId: userId.toString(),
                            invoiceNo: $scope.invoiceNo,
                            cash: amount,
                            date: $scope.receivedDate.toISOString().split('T')[0],
                            tno: $scope.selectedRowForSalesList.tno,
                            invoiceSchedulerId: $scope.selectedRowForSalesList.id.toString(),
                            ledgerId: ledgerId.toString(),
                            chequeDetails: cheque,
                            companyName: $scope.selectedCompany.name
                        }

                        let Url = '';
                        if (window.location.hostname == 'localhost')
                            Url = '/Payment/InsertCashCollection';
                        else
                            Url = '/AccountingNew/Payment/InsertCashCollection';

                        $http.post(Url, JSON.stringify(jsonData), { headers: { 'Content-Type': 'application/json' } })
                            .then(function (response) {
                                if (response.data == "Success") {
                                    alert("Success.");
                                    $scope.spinner = false;
                                    $scope.getInvoices();

                                    var userConfirmed = confirm('Do you want to upload this cash information to online?');

                                    if (userConfirmed) {
                                        $scope.postToOnline("", $scope.selectedRow.invoice_No, $scope.selectedRow.id.toString());
                                    }

                                }

                            }, function (error) {
                                console.error(error);
                            })
                    }
                    else {
                        var userId = @userId;
                        var jsonData = {
                            type: ($scope.payment - 1).toString(),
                            userId: userId.toString(),
                            invoiceNo: $scope.invoiceNo,
                            cash: amount,
                            date: $scope.receivedDate.toISOString().split('T')[0],
                            tno: $scope.selectedRowForSalesList.tno,
                            invoiceSchedulerId: $scope.selectedRowForSalesList.id.toString(),
                            ledgerId: ledgerId.toString(),
                            chequeDetails: cheque,
                            companyName: $scope.selectedCompany.name,
                            cashCollectionId: $scope.selectedRowForpaymentList.id
                        }

                        let Url = '';
                        if (window.location.hostname == 'localhost')
                            Url = '/Payment/UpdateCashCollection';
                        else
                            Url = '/AccountingNew/Payment/UpdateCashCollection';

                        $http.post(Url, JSON.stringify(jsonData), { headers: { 'Content-Type': 'application/json' } })
                            .then(function (response) {
                                if (response.data == "Success") {
                                    alert("Cash information has been updated successfully.");
                                }

                            }, function (error) {
                                console.error(error);
                            })
                    }
                }

            }

        }

        $scope.submit = function () {
            var isBounced = $scope.isBounced;
            var chequeNo = $scope.chequeNo;
            var bouncedDate = $scope.bouncedDate.toISOString().split('T')[0];
            var bouncedAmount = $scope.bouncedAmount;
            var bouncedNote = $scope.bouncedNote;
            var invoiceNo = $scope.selectedRow.invoice_No;;

            if (invoiceNo == "" || invoiceNo == undefined || invoiceNo == null) {
                alert("Please select paid invoice number.");
                return false;
            }
            var jsonData = {
                IsBounced: isBounced,
                ChequeNo: chequeNo,
                BouncedDate: bouncedDate,
                BouncedAmount: bouncedAmount,
                BouncedNote: bouncedNote,
                InvoiceNo: invoiceNo
            }

            let Url = '';
            if (window.location.hostname == 'localhost') {
                Url = '/Invoice/UpdateBouncedChequeData';
            } else {
                Url = '/AccountingNew/Invoice/UpdateBouncedChequeData';
            }


            $http.post(Url, JSON.stringify(jsonData), { headers: { 'Content-Type': 'application/json' } })
                .then(function (response) {
                    if (response.data == "Success") {
                        alert("Bounced information has been updated successfully");
                    }
                }, function (error) {
                    console.error(error);
                });
        }

        $scope.bouncedChequeFieldsEmpty = function () {
            if (!$scope.isBounced) {
                $scope.chequeNo = '';
                $scope.bouncedAmount = 0;
                $scope.bouncedNote = '';
                $scope.bouncedDate = new Date();
            }
        };

        $scope.getBouncedData = function (invoiceNo) {
            let Url = '';
            if (window.location.hostname == 'localhost')
                Url = '/Invoice/LoadbBouncedCheckData';
            else
                Url = '/AccountingNew/Invoice/LoadbBouncedCheckData';

            $http.get(Url, { params: { invoiceNo: invoiceNo } })
                .then(function (response) {
                    $scope.bouncedData = response.data;

                    $scope.isBounced = $scope.bouncedData[0].isBounced;
                    $scope.chequeNo = $scope.bouncedData[0].bouncedCheckNo;
                    $scope.bouncedAmount = $scope.bouncedData[0].bouncedAmount;
                    $scope.bouncedNote = $scope.bouncedData[0].bouncedNote;
                    $scope.bouncedDate = $scope.bouncedData[0].bouncedCheckDate == '1900-01-01T00:00:00' || $scope.bouncedData[0].bouncedCheckDate == "0001-01-01T00:00:00" ? new Date() : new Date($scope.bouncedData[0].bouncedCheckDate);

                }, function (error) {
                    console.error(error);
                })
        }
    })
</script>
