@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "CashCollection";
    var userId = Context.Session.GetInt32("UserID");
    var accessRight = Context.Session.GetString("AccessRight");

    var accessRights = new string[0];

    if (string.IsNullOrEmpty(accessRight))
    {
        <script type="text/javascript">
            window.location.href = '@Url.Action("Index", "Home")';
        </script>
    }
    else
    {
        accessRights = accessRight.Split(',');
    }
}

<style>
    .selected-row {
        border: 3px solid black !important;
    }
</style>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>

<div ng-app="myApp">
    <div ng-controller="myController">
        <div class="row">
            <h4 class="alert-primary text-center" style="margin-top:-10px">Cash Collection</h4>

            <div class="col-sm-6">
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Company</label>
                    <div class="col-sm-9">
                        <input class="form-control form-control-sm" placeholder="Search Company Here" autocomplete="off" ng-model="company" ng-keyup="searchCompany(company)">
                    </div>
                </div>
                <div>Select a company</div>
                <select class="form-control form-control-sm" size="10" ng-model="comList" style="height:225px;border:1px solid lightgray">
                    <option ng-repeat="company in companyList" value="{{company.id}}" ng-click="selectCompany(company)">{{company.name}}</option>
                </select>

                <div class="row mt-2">
                    <div class="col-sm-6">
                        <label>Payment List</label>
                    </div>
                    <div class="col-sm-6">
                        <button class="btn btn-info btn-sm float-end px-4">Unpaid</button>
                    </div>
                </div>

                <div class="mt-2" style="height: 200px; overflow-y: auto;border:1px solid lightgray">
                    <table class="table table-bordered table-hover table-sm" style="white-space:nowrap;">
                        <thead class="thead-light">
                            <tr class="text-center">
                                <th class="border">Sl#</th>
                                <th class="border">Payment</th>
                                <th class="border acenter">Tax</th>
                                <th class="border">Date</th>
                                <th class="border">Posted</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="o in paymentListData" ng-click="selectRowForpaymentList(o)" ng-class="{ 'selected-row': o === selectedRowForpaymentList }" ng-style="{'background-color': o.badDebt ? '#FF8080' : ''}">
                                <td class="border text-center">{{$index + 1}}</td>
                                <td class="border text-end">{{o.cash}}</td>
                                <td class="border text-end">{{o.salesTax}}</td>
                                <td class="border text-center">{{o.receivedDate}}</td>
                                <td class="border text-center">{{item.Posted ? 'Yes' : 'No'}}</td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-6">
                        <label>Show due invoices &nbsp; <input type="checkbox" ng-model="due" ng-change="getInvoices()" /></label>
                    </div>
                    <div class="col-sm-6">
                        <label class="float-end"><input type="checkbox" ng-model="paid" ng-change="getInvoices()" />&nbsp; Show paid invoices </label>
                    </div>
                </div>
                <div class="mt-2" style="height: 200px; overflow-y: auto;border:1px solid lightgray">
                    <table class="table table-bordered table-hover table-sm" style="white-space:nowrap;">
                        <thead class="thead-light">
                            <tr class="text-center">
                                <th class="border">Sl#</th>
                                <th class="border">Invoice No.</th>
                                <th class="border acenter">Amount</th>
                                <th class="border">Uploaded</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="o in invoiceData" ng-click="selectRow(o)" ng-class="{ 'selected-row': o === selectedRow }">
                                <td class="border text-center">{{$index + 1}}</td>
                                <td class="border text-center">{{o.invoice_No}}</td>
                                <td class="border text-end">{{o.tAmount}}</td>
                                <td class="border text-center">{{o.uploadedPaymentStatus}}</td>

                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="row mt-2">
                    <div class="col-sm-6">
                        <label>Sales List</label>
                    </div>
                    <div class="col-sm-6">
                        <button class="btn btn-info btn-sm float-end">Collection Note</button>
                    </div>
                </div>
                <div class="mt-2" style="height:100px; overflow-y: auto;border:1px solid lightgray">
                    <table class="table table-bordered table-hover table-sm">
                        <tbody>
                            <tr ng-repeat="o in salesListData" ng-click="selectRowForSalesList(o)" ng-class="{ 'selected-row': o === selectedRowForSalesList }">
                                <td>{{$index+1}}. {{o.sbName}} TK. {{o.amount}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="mt-2">
                    <fieldset class="border p-2">
                        <legend class="float-none w-auto p-2 fs-5">Payment Nature</legend>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group row">
                                    <label class="col-sm-4">Date</label>
                                    <div class="col-sm-8">
                                        <input type="date" ng-model="receivedDate" class="form-control form-control-sm" />

                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group row">
                                    <label class="col-sm-4">Amount</label>
                                    <div class="col-sm-8">
                                        <input type="text" ng-model="amount" class="form-control form-control-sm" />
                                    </div>
                                </div>
                            </div>

                            <label class="mt-2">Payment Status</label>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="col-sm-12 border-bottom border-1 pb-2">
                                        <div class="payment_div col-sm-12" data-value="1" data-id="46">
                                            Cash
                                        </div>
                                    </div>
                                    <div class="col-sm-12 border-bottom border-1 pb-2">
                                        <div class="payment_div col-sm-12" data-value="2">
                                            <div class="col-sm-12">
                                                Cheque
                                            </div>
                                            <fieldset class="border p-2">
                                                <legend class="float-none w-auto p-2 fs-6">
                                                    Bank Info
                                                </legend>
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <select class="form-control form-control-sm" ng-model="ledgerList">
                                                                    <option value=""></option>
                                                                    <option ng-repeat="ledger in allLedgerData" value="{{ledger.id}}">{{ledger.ladgerName}}</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="row" style="margin-top: 3px;">
                                                            <div class="col-sm-5">
                                                                Cheque No.
                                                            </div>
                                                            <div class="col-sm-7">
                                                                <input name="cheq no" type="text" ng-model="chequeNo" class="form-control form-control-sm">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                    <div class="col-12 border-bottom border-1 pb-2">
                                        <div class="payment_div col-sm-12" data-value="3">
                                            <div class="col-sm-12">
                                                VAT
                                            </div>
                                            <fieldset class="border p-2">
                                                <legend class="float-none w-auto p-2 fs-6">
                                                    VAT Type
                                                </legend>
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <select class="form-control input-sm" ng-model="vattype">
                                                            <option value=""></option>

                                                            <option value="28747">Accounts Receivable-VDS</option>
                                                            <option value="31074">Accounts Receivable-TDS</option>

                                                        </select>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 border-bottom border-1 pb-2">
                                        <div class="payment_div col-12" data-value="4" data-id="378">
                                            Bad Debt
                                        </div>
                                    </div>
                                    <div class="col-sm-12 border-bottom border-1 pb-2">
                                        <div class="payment_div col-sm-12" data-value="5" data-id="28724">
                                                <div class="col-sm-12">
                                                    Nagad Mobile A/C
                                                </div>
                                                <fieldset class="border p-2">
                                                    <legend class="float-none w-auto p-2 fs-6">
                                                        Reference No:
                                                    </legend>
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <input type="text" ng-model="refNagadNo" class="form-control input-sm">
                                                        </div>
                                                    </div>
                                                </fieldset>

                                        </div>
                                    </div>

                                    <div ng-model="paymentDiv">
                                        <label>SSL Marchant A/C</label>
                                    </div>
                                    <div ng-model="paymentDiv">
                                        <label>bKash Marchant A/C</label>
                                    </div>
                                    <div ng-model="paymentDiv">
                                        <label>Discount of Sales</label>
                                    </div>
                                    <div ng-model="paymentDiv">
                                        <label>Online Collection Charges</label>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                </div>
                            </div>
                        </div>
                    </fieldset>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var app = angular.module('myApp', []);
    app.controller('myController', function ($scope, $http) {
        angular.element(document).ready(function () {
            $scope.getAllLedger();
        })

        $scope.companyList = [];
        $scope.searchCompany = function (startingKey) {
            if (startingKey && startingKey.length > 1) {
                let Url = '';
                if (window.location.hostname == 'localhost')
                    Url = '/Company/GetCompanyListByKey';
                else
                    Url = '/AccountingNew/Company/GetCompanyListByKey';

                $http.get(Url, { params: { startingKey: startingKey } })
                    .then(function (response) {
                        $scope.companyList = response.data;
                    }, function (error) {
                        console.error(error);
                    })
            } else {
                $scope.companyList = [];
            }
        };

        $scope.selectedCompany = null;
        $scope.selectCompany = function (company) {
            sbName = null;
            row = null;

            $scope.selectedCompany = company;
            $scope.company = company.name;

            $scope.due = true;
            $scope.getInvoices();

            $scope.showTable = true;
            $scope.makeInvoiceBtn = false;
        }

        $scope.getInvoices = function () {
            var str;
            if ($scope.due && !$scope.paid)
                str = "" + $scope.selectedCompany.id + ", 0, 0";
            else if (!$scope.due && $scope.paid)
                str = "" + $scope.selectedCompany.id + ", 1, null";
            else if ($scope.due && $scope.paid)
                str = "" + $scope.selectedCompany.id + ", null, 0";
            else
                str = "";

            if (str != "") {
                let Url = '';
                if (window.location.hostname == 'localhost')
                    Url = '/Invoice/GetInvoicesForCashCollection';
                else
                    Url = '/AccountingNew/Invoice/GetInvoicesForCashCollection';

                $http.get(Url, { params: { query: str } })
                    .then(function (response) {
                        $scope.invoiceData = response.data;
                    })
                    .catch(function (error) {
                        console.log(error);
                    })
            }
            $scope.invoiceData = [];
            $scope.paymentListData = [];
            $scope.salesListData = [];

        }

        $scope.selectedRow = null;
        $scope.selectRow = function (row) {
            if ($scope.selectedRow === row) {
                $scope.selectedRow = null;
            } else {
                $scope.selectedRow = row;
                $scope.getSalesList();
                // $scope.getPaymentList($scope.selectedRowForSalesList.id);
            }
        };

        $scope.selectedRowForSalesList = null;
        $scope.selectRowForSalesList = function (row) {
            if ($scope.selectedRowForSalesList === row) {
                $scope.selectedRowForSalesList = null;
            } else {
                $scope.selectedRowForSalesList = row;
                $scope.getPaymentList($scope.selectedRowForSalesList.id);


            }
        };

        $scope.selectedRowForpaymentList = null;
        $scope.selectRowForpaymentList = function (row) {
            if ($scope.selectedRowForpaymentList === row) {
                $scope.selectedRowForpaymentList = null;
            } else {
                $scope.selectedRowForpaymentList = row;

                var cash = parseFloat($scope.selectedRowForpaymentList.cash);
                var salesTax = parseFloat($scope.selectedRowForpaymentList.salesTax);
                $scope.amount = (cash + salesTax).toFixed(2);
                $scope.receivedDate = new Date($scope.selectedRowForpaymentList.receivedDate);
            }
        };

        $scope.getSalesList = function () {
            var no = $scope.selectedRow.invoice_No;
            let Url = '';
            if (window.location.hostname == 'localhost')
                Url = '/Sale/GetSalesInfo';
            else
                Url = '/AccountingNew/Sale/GetSalesInfo';

            $http.get(Url, { params: { InvoiceNo: no } })
                .then(function (response) {
                    $scope.salesListData = response.data;
                }, function (error) {
                    console.error(error);
                })
        }

        $scope.getAllLedger = function () {
            let Url = '';
            if (window.location.hostname == 'localhost')
                Url = '/Ledger/GetAllEveryLedger';
            else
                Url = '/AccountingNew/Ledger/GetAllEveryLedger';

            $http.get(Url, { params: { isCashCollection: "1" } })
                .then(function (response) {
                    $scope.allLedgerData = response.data;
                }, function (error) {
                    console.error(error);
                })
        }

        $scope.getPaymentList = function (id) {
            let Url = '';
            if (window.location.hostname == 'localhost')
                Url = '/Payment/GetCashCollection';
            else
                Url = '/AccountingNew/Payment/GetCashCollection';

            $http.get(Url, { params: { Id: id } })
                .then(function (response) {
                    $scope.paymentListData = response.data;

                    $scope.total = 0;
                    angular.forEach($scope.paymentListData, function (item) {
                        $scope.total += (parseFloat(item.cash) + parseFloat(item.salesTax));
                    });
                    $scope.amount = parseFloat($scope.selectedRowForSalesList.amount - $scope.total).toFixed(2);
                }, function (error) {
                    console.error(error);
                })
        }
    })
</script>
