@{
    ViewData["Title"] = "ListOfInvoice";
}
<head>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <style>
        .disabled-section {
            pointer-events: none;
            cursor: not-allowed;
            opacity: 0.5;
        }

    </style>
</head>

<div class="container-fluid" ng-app="myApp">
    <div ng-controller="invoiceController">
        <div class="row">
            <div class=" col-md-4">
                <h2>Product List</h2>

                <select class="form-select" multiple aria-label="multiple select example" ng-model="selectedInvoices">
                    <option ng-repeat="product in productList" value="{{product.id}}">{{product.ladgerName}}</option>
                </select>

                <button type="button" class="btn btn-primary btn-sm mt-3" ng-click="processSelectedInvoices()">Show invoice list</button>

                <div>
                    <p>Invoice List: ( 321437 invoices found )</p>
                </div>
            </div>
            <div class=" col-md-6">
                <h2>Filters</h2>
                <div class="row ">
                    <div class="col-md-8">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="validity" id="validInvoice" value="0" ng-model="validity" checked>
                            <label class="form-check-label" for="validInvoice">
                                Show All Valid Invoices
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="validity" id="deletedInvoices" value="1" ng-model="validity">
                            <label class="form-check-label" for="deletedInvoices">
                                Show Deleted Invoices
                            </label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="order" id="ASC" ng-model="order" value="ASC">
                            <label class="form-check-label" for="ASC">
                                Ascending
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="order" id="DESC" ng-model="order" value="DESC">
                            <label class="form-check-label" for="DESC">
                                Descending
                            </label>
                        </div>
                    </div>


                </div>
                <hr />
                <div class="row mb-2">
                    <div class="col-md-8">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="invoiceDuration" ng-model="invoiceDuration">
                            <label class="form-check-label" for="invoiceDuration">
                                Invoice Duration
                            </label>
                        </div>

                        <div class=" d-inline-flex" ng-class="{'disabled-section': !invoiceDuration}">

                            <select id="operator" class="form-select form-select-s" aria-label=".form-select-sm" ng-model="Operator">
                                <option value=""></option>
                                <option value="<">&lt;</option>
                                <option value="<=">&lt;=</option>
                                <option value="=">=</option>
                                <option value=">=">&gt;=</option>
                                <option value=">">&gt;</option>
                                <option value="range">range</option>
                            </select>

                            <div class="d-flex align-items-center ms-2">
                                <div>
                                    <input type="text" class="form-control input-sm px-1" id="rangeFrom" ng-model="fDuration">
                                </div>
                                <span class="mx-1">to</span>
                                <input type="text" class="form-control input-sm px-1" id="rangeTo" ng-class="{'disabled-section': Operator != 'range'}" ng-model="tDuration">
                                <span class="ms-1">days</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="invstats" id="allinv" value="0" ng-model="invstats" >
                            <label class="form-check-label" for="allinv">
                                All invoices
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="invstats" id="dueinv" value="1" ng-model="invstats">
                            <label class="form-check-label" for="dueinv">
                                Due invoices
                            </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="invstats" id="paidinv" value="2" ng-model="invstats">
                            <label class="form-check-label" for="paidinv">
                                Paid invoices
                            </label>
                        </div>
                    </div>
                </div>

                <div class="row mb-4">

                    <div class="col-md-12">

                        <div class=" d-flex flex-column gap-1" ng-class="{'disabled-section': invstats != 2}">
                            <label class=" form-label">
                                Payment Duration
                            </label>
                            <div class=" d-inline-flex gap-5">

                                <div class="d-flex align-items-center gap-4">
                                    <label class=" form-label">From</label>
                                    <input type="date" class="form-control form-control-sm ">
                                </div>

                                <div class="d-flex align-items-center gap-4">
                                    <label class=" form-label">To</label>
                                    <input type="date" class="form-control form-control-sm ">
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                <hr />
                <div style=" padding: 10px; background-color: #f8fafc; border: 1px solid #00000010; border-radius: 4px;">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="" checked="">
                                <label class="form-check-label" for="">
                                    Show with black listed companies
                                </label>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="" checked="">
                                <label class="form-check-label" for="">
                                    Sales Report
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div>
                                <lable class=" form-label">Search by Zone</lable>
                                <select name="Zone" id="searchByZone" class=" form-select" ng-model="Zone">
                                    <option value="">Select</option>
                                    <option value="Gulshan">Gulshan</option>
                                    <option value="Banani">Banani</option>
                                    <option value="Uttara">Uttara</option>
                                    <option value="Motijheel">Motijheel</option>
                                    <option value="Dhanmondi">Dhanmondi</option>
                                    <option value="Chittagong">Chittagong</option>
                                    <option value="Western Districts">Western Districts</option>
                                    <option value="Eastern Districts">Eastern Districts</option>
                                    <option value="Customer Success">Customer Success</option>
                                </select>

                            </div>
                        </div>

                        <div class="col-md-4">
                            <div>
                                <lable class=" form-label mb-2">Search by Location</lable>
                                <input type="text" class="form-control input-sm" id="searchByLocation">

                            </div>
                        </div>

                        <div class="col-sm-4">
                           <div>
                                <label class=" form-label mb-2">Sales Person</label>
                                <input class="form-control input-sm" id="salesPerson" placeholder="Search Sales Person Here" autocomplete="off" ng-model="salesPersonInput" ng-keyup="getSalesPersonsByKey($event)">
                                <select class="form-select input-sm" size="10" id="salesPersonList" ng-model="selectedSalesPerson" style="position:absolute;z-index:999;width: 360px; overflow:auto; background: white none repeat scroll 0% 0%;" ng-show="salesPersonList.length > 0">
                                    <option ng-repeat="person in salesPersonList" value="{{person.salesPersonID}}" ng-click="selectSalesPerson(person)">{{person.salesPersonName}}</option>
                                </select>
                           </div>

                        </div>

                    </div>
                </div>


            </div>
            <div class=" col-md-2">
                <h2>Product List</h2>
            </div>
        </div>

        <div class="row mt-5">
            <div class=" d-flex align-items-center justify-content-center">
                <button class="btn btn-primary px-4" type="button" ng-click="load()">Load</button>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-6">
                <div class="col-sm-5" style="margin-left:-15px;">
                    Show
                    <select id="pagesize" style="padding: 0px 15px 0px 2px; background: url(&quot;/images/down_arrow.png&quot;) right center no-repeat white; border: 1px solid gray;">
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                        <option value="40">40</option>
                        <option value="50">50</option>
                    </select>
                    entries per page
                </div>
            </div>

            <div class="col-md-6">
                <div class=" d-flex align-items-center justify-content-end">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>

        </div>

        <!-- Table -->

        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead class="table-light">
                        <tr>
                            <th scope="col">Invoice No</th>
                            <th scope="col">Company Name</th>
                            <th scope="col">Total Amount</th>
                            <th scope="col">Invoice Send Date</th>
                            <th scope="col">Sales Person Name</th>
                            <th scope="col">Product Name</th>
                            <th scope="col">Contact Person</th>
                            <th scope="col">Contact Person Phone</th>
                            <th scope="col">Full Payment</th>
                            <th scope="col">Ageing Day</th>
                            <th scope="col">Product Wise Sequence</th>
                            <th scope="col">Last Invoice Difference</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>ABC Corp</td>
                            <td>$1,000</td>
                            <td>2024-07-01</td>
                            <td>John Doe</td>
                            <td>Product A</td>
                            <td>Jane Smith</td>
                            <td>(555) 123-4567</td>
                            <td>Yes</td>
                            <td>30</td>
                            <td>1</td>
                            <td>10 days</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>XYZ Inc</td>
                            <td>$2,500</td>
                            <td>2024-06-20</td>
                            <td>Alice Johnson</td>
                            <td>Product B</td>
                            <td>Michael Brown</td>
                            <td>(555) 987-6543</td>
                            <td>No</td>
                            <td>15</td>
                            <td>2</td>
                            <td>5 days</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>LMN LLC</td>
                            <td>$3,750</td>
                            <td>2024-06-25</td>
                            <td>Bob White</td>
                            <td>Product C</td>
                            <td>Susan Green</td>
                            <td>(555) 456-7890</td>
                            <td>Yes</td>
                            <td>7</td>
                            <td>3</td>
                            <td>20 days</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
<script>
    var app = angular.module('myApp', []);
    app.controller('invoiceController', function ($scope, $http) {

        $scope.productList = [];
        $scope.selectedInvoices = [];
        $scope.salesPersonInput = '';
        $scope.salesPersonList = [];
        $scope.selectedSalesPerson = [];
        $scope.selectedSalesPersonId = ''

        // ui states
        $scope.invoiceDuration = false;
        $scope.invstats = '0';

        // invoice list
        $scope.pageNo = 1;
        $scope.pageSize = "10";
        $scope.productId = '';
        $scope.validity = "0";
        $scope.Operator = "";
        $scope.fDuration = 0;
        $scope.tDuration = 0;
        $scope.fullPayment = "2";
        $scope.blacklisted = "0";
        $scope.order = "ASC";
        $scope.location = "";
        $scope.salesperson = "0";
        $scope.fromRange = "03/01/2024";
        $scope.toRange = "03/25/2024";
        $scope.Zone = "";

        // Fetch products and populate the product list
        $scope.getProducts = function () {
            $http.get('/Invoice/GetProducts')
                .then(function (response) {
                    $scope.productList = response.data;
                }, function (error) {
                    console.error(error);
                });
        };

        // Fetch salesperson list based on the input key
        $scope.getSalesPersonsByKey = function (event) {
            let Url = '';
            if (window.location.hostname == 'localhost')
                Url = '/Invoice/GetSalesPersonListByKey';
            else
                Url = '/Invoice/GetSalesPersonListByKey';

            if (event.keyCode != 13 && event.keyCode != 27) {
                var str = $scope.salesPersonInput.trim();
                if (str !== "") {
                    console.log(str);
                    $http.get(Url, { params: { startingKey: str } })
                        .then(function (response) {
                            if (response.data == 0) {
                                $scope.salesPersonList = []
                                return false;
                            }else {
                                $scope.salesPersonList = response.data;
                                console.log(response.data);
                                return true;
                            }
                        })
                        .catch(function (error) {
                            console.log(error);
                            $scope.salesPersonList = [];

                        });
                }else {
                    $scope.salesPersonList = [];
                }
            } else if (event.keyCode == 27) {
                // Clear search input and results if 'Esc' key is pressed
                $scope.salesPersonInput = '';
                $scope.salesPersonList = [];
            }
        };


        $scope.selectSalesPerson = function (person) {
            console.log("Person ", person.salesPersonID)

            $scope.selectedSalesPerson = person;
            $scope.salesPersonInput = person.salesPersonName;
            $scope.selectedSalesPersonId = person.salesPersonID;
            $scope.salesPersonList = [];



            // Add selected person to the array if not already added
            
           
        };

        $scope.params = {
            pageNo: 1,
            pageSize: "10",
            productId: "'0'",
            validity: "0",
            Operator: "",
            fDuration: 0,
            tDuration: 0,
            fullPayment: "0",
            blacklisted: 0,
            order: "ASC",
            location: "",
            salesperson: "0",
            fromRange: "",
            toRange: "",
            Zone: ""
        };
        /*
        $scope.loadInvoices = function () {
            var url = '';
            if (window.location.hostname == 'localhost')
                url = '/Invoice/GetInvoiceList';
            else
                url = '/Invoice/GetInvoiceList';

            var requestData = {
                pageNo: $scope.params.pageNo,
                pageSize: $scope.params.pageSize,
                productId: $scope.params.productId,
                validity: $scope.params.validity,
                Operator: $scope.params.Operator,
                fDuration: $scope.params.fDuration,
                tDuration: $scope.params.tDuration,
                fullPayment: $scope.params.fullPayment,
                blacklisted: $scope.params.blacklisted,
                order: $scope.params.order,
                location: $scope.params.location,
                salesperson: $scope.params.salesperson,
                fromRange: $scope.params.fromRange,
                toRange: $scope.params.toRange,
                Zone: $scope.params.Zone
            };

            $http.post('/Invoice/GetInvoiceList', { params: requestData })
                .then(function (response) {
                    console.log('Success:', response.data);
                    $scope.responseData = response.data;

                    var total = 0;
                    var cnt = (($scope.params.pageNo - 1) * $scope.params.pageSize) + 1;
                    angular.forEach(response.data, function (value) {
                        // Your logic to handle response data goes here
                        // For example:
                        total = value.TotalInvoices;
                        cnt++;
                    });

                    // Pagination logic
                    var pager = Math.ceil(total / $scope.params.pageSize);
                    pager = pager === 0 ? 1 : pager;

                    $scope.totalPages = pager;
                    $scope.currentPage = $scope.params.pageNo;

                    // Enable/disable buttons based on response
                    $scope.showList = response.data.length === 0 ? true : false;
                    $scope.showInvList = false;

                    // Your additional logic to handle the response
                })
                .catch(function (error) {
                    console.error('Error:', error);
                });
        };

        */



        
        $scope.onlineData = []
        $scope.load = function () {
            let requestBodyModel = {
                PageNo: $scope.pageNo,
                PageSize: $scope.pageSize,
                ProductId: $scope.productId,
                Validity: $scope.validity,
                Operator: $scope.Operator,
                FromDuration: $scope.fDuration,
                ToDuration: $scope.tDuration,
                FullPayment: $scope.fullPayment,
                Blacklisted: $scope.blacklisted,
                Order: $scope.order,
                Location: $scope.location,
                Salesperson: $scope.selectedSalesPersonId,
                FromRange: $scope.fromRange,
                ToRange: $scope.toRange,
                Zone: $scope.Zone
            };

            console.log("before sending current state: ", requestBodyModel)

            let Url = '';
            if (window.location.hostname == 'localhost')
                Url = '/Invoice/GetInvoiceList';
            else
                Url = '/Invoice/GetInvoiceList';

            $http.post(Url, JSON.stringify(requestBodyModel), { headers: { 'Content-Type': 'application/json' } })
                .then(function (response) {
                    $scope.onlineData = response.data;
                    console.log(response.data)
                })
                .catch(function (error) {
                    console.log(error);
                })
        }
        // Initial fetch of products
        $scope.getProducts();
    });
</script>
