@{
    ViewData["Title"] = "ListOfInvoice";
}
<head>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<div class="container-fluid" ng-app="myApp">
    <div ng-controller="invoiceController">
        <div class="row">
            <div class=" col-md-4">
                <h2>Product List</h2>

                <select class="form-select" multiple aria-label="multiple select example" ng-model="selectedInvoices">
                    <option ng-repeat="product in productList" value="{{product.id}}">{{product.ladgerName}}</option>
                </select>

                <button type="button" class="btn btn-primary btn-sm" ng-click="processSelectedInvoices()">Show invoice list</button>

                <div>
                    <p>Invoice List: ( 321437 invoices found )</p>
                </div>
            </div>
            <div class=" col-md-6">
                <h2>Filters</h2>
                <div class="row ">
                    <div class="col-md-8">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                                Show All Valid Invoices
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                            <label class="form-check-label" for="flexRadioDefault2">
                                Show Deleted Invoices
                            </label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="diplayOrder" id="asc">
                            <label class="form-check-label" for="asc">
                                Ascending
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="diplayOrder" id="dec" checked>
                            <label class="form-check-label" for="dec">
                                Descending
                            </label>
                        </div>
                    </div>

                </div>
                <hr />
                <div class="row mb-2">
                    <div class="col-md-8">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="invduration" checked>
                            <label class="form-check-label" for="invduration">
                                Invoice Duration
                            </label>
                        </div>

                        <div class=" d-inline-flex">

                            <select id="operator" class="form-select form-select-s" aria-label=".form-select-sm example">
                                <option value=""></option>
                                <option value="<">&lt;</option>
                                <option value="<=">&lt;=</option>
                                <option value="=">=</option>
                                <option value=">=">&gt;=</option>
                                <option value=">">&gt;</option>
                                <option value="range">range</option>
                            </select>

                            <div class="d-flex gap-3 align-items-center ms-5">
                                <div>
                                    <input type="text" class="form-control input-sm" id="rangeFrom">
                                </div>
                                <span>to</span>
                                <input type="text" class="form-control input-sm" id="rangeTo">
                                <span>days</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="invstats" id="allinv">
                            <label class="form-check-label" for="allinv">
                                All invoices
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="invstats" id="dueinv" checked>
                            <label class="form-check-label" for="dueinv">
                                Due invoices
                            </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="invstats" id="paidinv" checked>
                            <label class="form-check-label" for="paidinv">
                                Paid invoices
                            </label>
                        </div>
                    </div>
                </div>

                <div class="row mb-4">

                    <div class="col-md-12">

                        <div class=" d-flex flex-column gap-1">
                            <label class=" form-label">
                                Payment Duration
                            </label>
                            <div class=" d-inline-flex gap-5">

                                <div class="d-flex align-items-center gap-4">
                                    <label class=" form-label">From</label>
                                    <input type="date" class="form-control form-control-sm ">
                                </div>

                                <div class="d-flex align-items-center gap-4">
                                    <label class=" form-label">To</label>
                                    <input type="date" class="form-control form-control-sm ">
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                <hr />
                <div style=" padding: 10px; background-color: #f8fafc; border: 1px solid #00000010; border-radius: 4px;">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="" checked="">
                                <label class="form-check-label" for="">
                                    Show with black listed companies
                                </label>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="" checked="">
                                <label class="form-check-label" for="">
                                    Sales Report
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div>
                                <lable class=" form-label">Search by Zone</lable>
                                <select name="Zone" id="searchByZone" class=" form-select">
                                    <option value="">Select</option>
                                    <option value="Gulshan">Gulshan</option>
                                    <option value="Banani">Banani</option>
                                    <option value="Uttara">Uttara</option>
                                    <option value="Motijheel">Motijheel</option>
                                    <option value="Dhanmondi">Dhanmondi</option>
                                    <option value="Chittagong">Chittagong</option>
                                    <option value="Western Districts">Western Districts</option>
                                    <option value="Eastern Districts">Eastern Districts</option>
                                    <option value="Customer Success">Customer Success</option>
                                </select>

                            </div>
                        </div>

                        <div class="col-md-4">
                            <div>
                                <lable class=" form-label">Search by Location</lable>
                                <input type="text" class="form-control input-sm" id="searchByLocation">

                            </div>
                        </div>

                        <div class="col-md-4">
                            <div>
                                <lable class=" form-label">Sales Person</lable>
                                <input type="text" class="form-control input-sm" id="" placeholder="search sales person">

                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class=" col-md-2">
                <h2>Product List</h2>
            </div>
        </div>

        <div class="row mt-5">
            <div class=" d-flex align-items-center justify-content-center">
                <button class="btn btn-primary px-4"> Load</button>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-6">
                <div class="col-sm-5" style="margin-left:-15px;">
                    Show
                    <select id="pagesize" style="padding: 0px 15px 0px 2px; background: url(&quot;/images/down_arrow.png&quot;) right center no-repeat white; border: 1px solid gray;">
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                        <option value="40">40</option>
                        <option value="50">50</option>
                    </select>
                    entries per page
                </div>
            </div>

            <div class="col-md-6">
                <div class=" d-flex align-items-center justify-content-end">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>

        </div>

        <!-- Table -->

        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead class="table-light">
                        <tr>
                            <th scope="col">Invoice No</th>
                            <th scope="col">Company Name</th>
                            <th scope="col">Total Amount</th>
                            <th scope="col">Invoice Send Date</th>
                            <th scope="col">Sales Person Name</th>
                            <th scope="col">Product Name</th>
                            <th scope="col">Contact Person</th>
                            <th scope="col">Contact Person Phone</th>
                            <th scope="col">Full Payment</th>
                            <th scope="col">Ageing Day</th>
                            <th scope="col">Product Wise Sequence</th>
                            <th scope="col">Last Invoice Difference</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>ABC Corp</td>
                            <td>$1,000</td>
                            <td>2024-07-01</td>
                            <td>John Doe</td>
                            <td>Product A</td>
                            <td>Jane Smith</td>
                            <td>(555) 123-4567</td>
                            <td>Yes</td>
                            <td>30</td>
                            <td>1</td>
                            <td>10 days</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>XYZ Inc</td>
                            <td>$2,500</td>
                            <td>2024-06-20</td>
                            <td>Alice Johnson</td>
                            <td>Product B</td>
                            <td>Michael Brown</td>
                            <td>(555) 987-6543</td>
                            <td>No</td>
                            <td>15</td>
                            <td>2</td>
                            <td>5 days</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>LMN LLC</td>
                            <td>$3,750</td>
                            <td>2024-06-25</td>
                            <td>Bob White</td>
                            <td>Product C</td>
                            <td>Susan Green</td>
                            <td>(555) 456-7890</td>
                            <td>Yes</td>
                            <td>7</td>
                            <td>3</td>
                            <td>20 days</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
<script>
    var app = angular.module('myApp', []);
    app.controller('invoiceController', function ($scope, $http) {

        $scope.productList = [];
        $scope.selectedInvoices = [];

        // get products
        $scope.getProducts = function() {
            $http.get('/Invoice/GetProducts')
                .then(function (response) {
                    console.log(response.data);
                    $scope.productList = response.data;
                }, function (error) {
                    console.error(error);
                });
        }

        // GetInvoiceList
        // 

        $scope.getProducts();
    });
</script>
