@{
    ViewData["Title"] = "AutoBilling";
}
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
</head>


<div class="card">
    <div class="card-body" style="background-color:whitesmoke;font-size:14px">
        <div ng-app="myApp">
            <div ng-controller="myController">
                <div class="row" style="margin-top:-10px">
                    <div class="col-sm-8 offset-2">
                        <h4 class="text-center">Auto SMS Alert Apply Limit</h4>
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-warning btn-sm px-3" ng-click="openModal()" ng-hide="hideButton">Bill Manually</button>
                    </div>


                    <div class="col-sm-6 mt-2">
                        <div class="row">
                            <div class="col-sm-4">
                                <label>service group</label>
                                <select class="form-select form-select-sm" ng-model="serviceGroup" ng-change="serviceNameChange()">
                                    <option value="Job Seeker">Job Seeker</option>
                                    <option value="Employer">Employer</option>
                                </select>
                            </div>
                            <div class="col-sm-4">
                                <label>From Date</label>
                                <input type="date" class="form-control form-control-sm" ng-model="fromDate" ng-change="dataLoadChange()" />
                            </div>
                            <div class="col-sm-4">
                                <label>To Date</label>
                                <input type="date" class="form-control form-control-sm" ng-model="toDate" ng-change="dataLoadChange()" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 mt-2">
                        <div class="row">
                            <div class="col-sm-4">
                                <label>Satus</label>
                                <select class="form-select form-select-sm" ng-model="status" ng-change="statusChange()">
                                    <option value="1">Done</option>
                                    <option value="0">Peding</option>
                                </select>
                            </div>
                            <div class="col-sm-5">
                                <label>Service Name</label>
                                <select class="form-select form-select-sm" ng-model="serviceName">
                                    <option value="0">Select</option>
                                    <option value="Candidate Monetization-Standard" ng-show="showCandidateMonetizationStandard">Candidate Monetization-Standard</option>
                                    <option value="Candidate Monetization-Basic" ng-show="showCandidateMonetizationBasic">Candidate Monetization-Basic</option>
                                    <option value="Candidate Monetization-Premium" ng-show="showCandidateMonetizationPremium">Candidate Monetization-Premium</option>
                                    <option value="Apply Limit (Job Fair)" ng-show="showApplyLimitJobFair">Apply Limit (Job Fair)</option>
                                    <option value="Apply Limit (Job Seeker)" ng-show="showApplyLimitJobSeeker">Apply Limit (Job Seeker)</option>
                                    <option value="SMS Alert (Job Seeker)" ng-show="showSMSAlertJobSeeker">SMS Alert (Job Seeker)</option>
                                    <option value="CV Purchase (Employer)" ng-show="showCVPurchaseEmployer">CV Purchase (Employer)</option>
                                    <option value="SMS Alert (Employer)" ng-show="showSMSAlertEmployer">SMS Alert (Employer)</option>
                                </select>
                            </div>
                            <div class="col-sm-3 mt-3">
                                <button class="btn btn-success btn-sm px-3" ng-click="load()">
                                    Load
                                    &nbsp;<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" ng-show="spinner"></span>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-3" ng-show="isVisible">
                        <div class="col-sm-6">
                            <div class="pull-left text-left">
                                Show
                                <select id="page" ng-model="itemsPerPage">
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="40">40</option>
                                    <option value="50" selected>50</option>
                                    <option value="60">60</option>
                                    <option value="80">80</option>
                                    <option value="100">100</option>
                                    <option value="500">500</option>
                                    <option value="1000">1000</option>
                                    <option value="3000">3000</option>
                                    <option value="5000">5000</option>
                                    <option value="10000">10000</option>
                                    <option value="10000000">All</option>
                                </select>
                                entries per page. (Total:{{totalItems}} data)


                            </div>
                        </div>
                        <div class="col-sm-6 d-flex justify-content-end">
                            @* section paging *@
                            <nav aria-label="...">
                                <ul class="pagination">
                                    <li class="page-item" ng-class="{ disabled: currentPage === 1 }">
                                        <a class="page-link" href="#" ng-click="setCurrentPage(currentPage - 1)" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>

                                    <!-- The ng-repeat code you provided -->
                                    <li class="page-item" ng-repeat="page in getPages()" ng-class="{ active: currentPage === page }">
                                        <a class="page-link" href="#" ng-click="setCurrentPage(page)">{{ page }}</a>
                                    </li>

                                    <li class="page-item" ng-class="{ disabled: currentPage === totalPages }">
                                        <a class="page-link" href="#" ng-click="setCurrentPage(currentPage + 1)" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                            @* section paging end *@
                        </div>

                    </div>
                    <div ng-show="showTable">
                        <table class="table table-bordered table-hovar table-sm">
                            <thead>
                                <tr class="text-center">
                                    <th>Sl No</th>
                                    <th>Service Name</th>
                                    <th>Transaction ID</th>
                                    <th>Transaciton Date</th>
                                    <th>Paid By</th>
                                    <th>Amount</th>
                                    <th>Invoice No</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="data in autoBillingData">
                                    <td class="text-center">{{$index + 1}}</td>
                                    <td class="text-center">{{data.serviceName}}</td>
                                    <td class="text-center">{{data.transID}}</td>
                                    <td class="text-center">{{data.transDate | date: 'dd-MM-yyyy'}}</td>
                                    <td class="text-center">{{data.paidBy}}</td>
                                    <td class="text-end">{{data.amount}}</td>
                                    <td class="text-center">{{data.invoiceNo}}</td>
                                    <td class="text-center">
                                        <button class="btn btn-warning btn-sm" ng-show="showBillManuallyForEmployer" ng-click="BillManuallyForEmployer($index, data.clientID, data.cP_id, data.acc_id, data.quantity, data.serviceGroup, data.serviceID, data.transDate, data.amount, data.secAmount, data.detailInfo, data.transID, data.paidBy, data.serviceName)">
                                            Bill Manually
                                            &nbsp;<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" ng-show="spinner_manual_employer[$index]"></span>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th colspan="5" class="text-end">Total</th>
                                    <th class="text-end">{{totalAmount}}</th>
                                    <th></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>

                <div class="modal fade" id="manualBillModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Journal Date</h5>
                                <button type="button" class="btn-close btn-sm" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="row px-5">
                                    <label>Select Service Name</label>
                                    <select class="form-select form-select-sm" ng-model="serviceName_manual">
                                        <option value="0">Select</option>
                                        <option value="Candidate Monetization-Standard">Candidate Monetization-Standard</option>
                                        <option value="Candidate Monetization-Basic">Candidate Monetization-Basic</option>
                                        <option value="Candidate Monetization-Premium">Candidate Monetization-Premium</option>
                                        <option value="Apply Limit (Job Fair)">Apply Limit (Job Fair)</option>
                                        <option value="Apply Limit (Job Seeker)">Apply Limit (Job Seeker)</option>
                                        <option value="SMS Alert (Job Seeker)">SMS Alert (Job Seeker)</option>
                                    </select>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary btn-sm" ng-disabled="okButtonDisabled" ng-click="ok()">
                                    OK
                                    &nbsp;<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" ng-show="spinner_manual"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    var app = angular.module('myApp', []);
    app.controller('myController', function ($scope, $http) {
        angular.element(document).ready(function () {
            $scope.spinner = false;


        });
        $scope.status = '1';
        $scope.serviceName = '0';
        $scope.serviceName_manual = '0';
        $scope.serviceGroup = 'Job Seeker';
        $scope.isVisible = false;
        $scope.showTable = false;
        $scope.itemsPerPage = '20';
        $scope.maxPageLength = 5;
        $scope.currentPage = 1;
        $scope.totalItems = 0;

        $scope.fromDate = new Date();
        $scope.toDate = new Date();


        $scope.openModal = function () {
            $("#manualBillModal").modal('show');
        }

        $scope.statusChange = function () {
            if ($scope.status == '0' && $scope.serviceGroup == 'Employer') {
                $scope.showBillManuallyForEmployer = true;
                $scope.load();
            } else {
                $scope.showBillManuallyForEmployer = false;
                $scope.load();
            }
        }

        $scope.dataLoadChange = function () {
            if ($scope.status == '0' && $scope.serviceGroup == 'Employer') {
                $scope.showBillManuallyForEmployer = true;
                $scope.load();
            } else {
                $scope.showBillManuallyForEmployer = false;
                $scope.load();
            }
        }

        $scope.showSMSAlertJobSeeker = true;
        $scope.showApplyLimitJobSeeker = true;
        $scope.showApplyLimitJobFair = true;
        $scope.showCandidateMonetizationPremium = true;
        $scope.showCandidateMonetizationBasic = true;
        $scope.showCandidateMonetizationStandard = true;
        $scope.serviceNameChange = function () {
            if ($scope.serviceGroup == 'Job Seeker') {
                $scope.serviceName = '0'
                $scope.showSMSAlertEmployer = false;
                $scope.showCVPurchaseEmployer = false;
                $scope.showSMSAlertJobSeeker = true;
                $scope.showApplyLimitJobSeeker = true;
                $scope.showApplyLimitJobFair = true;
                $scope.showCandidateMonetizationPremium = true;
                $scope.showCandidateMonetizationBasic = true;
                $scope.showCandidateMonetizationStandard = true;
                $scope.hideButton = false;
                if ($scope.status == '0' && $scope.serviceGroup == 'Employer') {
                    $scope.showBillManuallyForEmployer = true;
                } else {
                    $scope.showBillManuallyForEmployer = false;
                }
                $scope.load();
            } else {
                $scope.serviceName = '0'
                $scope.showSMSAlertEmployer = true;
                $scope.showCVPurchaseEmployer = true;
                $scope.showSMSAlertJobSeeker = false;
                $scope.showApplyLimitJobSeeker = false;
                $scope.showApplyLimitJobFair = false;
                $scope.showCandidateMonetizationPremium = false;
                $scope.showCandidateMonetizationBasic = false;
                $scope.showCandidateMonetizationStandard = false;
                $scope.hideButton = true;
                if ($scope.status == '0' && $scope.serviceGroup == 'Employer') {
                    $scope.showBillManuallyForEmployer = true;
                } else {
                    $scope.showBillManuallyForEmployer = false;
                }
                $scope.load();
            }

        }


        $scope.load = function () {
            $scope.spinner = true;
            let requestBodyModel = {
                PageNo: $scope.currentPage,
                PageSize: $scope.itemsPerPage,
                FromDate: $scope.fromDate,
                ToDate: $scope.toDate,
                Status: $scope.status,
                ServiceName: $scope.serviceName.toString(),
                ServiceGroup: $scope.serviceGroup.toString()
            }

            let Url = '';
            if (window.location.hostname == 'localhost')
                Url = '/Sale/AutoBillingData';
            else
                Url = '/Sale/AutoBillingData';

            $http.post(Url, JSON.stringify(requestBodyModel), { headers: { 'Content-Type': 'application/json' } })
                .then(function (response) {
                    if (response.data == 0) {
                        alert('There is no data to shown.')
                        $scope.spinner = false;
                        $scope.isVisible = false;
                        $scope.showTable = false;
                        return false;
                    }
                    $scope.isVisible = true;
                    $scope.showTable = true;
                    $scope.autoBillingData = response.data;
                    $scope.totalItems = response.data[0].totalRecords;
                    $scope.totalAmount = $scope.autoBillingData.reduce((a, b) => a + b.amount, 0);
                    $scope.spinner = false;
                })
                .catch(function (error) {
                    console.log(error);
                })
        }

        // paging code
        $scope.$watch('totalItems', function () {
            $scope.calculatePages();
        });

        $scope.$watch('itemsPerPage', function () {
            $scope.calculatePages();
            //$scope.load();
        });

        $scope.$watch('currentPage', function () {
            if ($scope.currentPage > 1) {
                $scope.calculatePages();
                $scope.load();
            }
            else {
                $scope.calculatePages();
            }

        });

        $scope.calculatePages = function () {
            $scope.totalPages = Math.ceil($scope.totalItems / $scope.itemsPerPage);
            $scope.pages = [];

            var startPage = Math.max(1, $scope.currentPage - Math.floor($scope.maxPageLength / 2));
            var endPage = Math.min($scope.totalPages, startPage + $scope.maxPageLength - 1);

            for (var i = startPage; i <= endPage; i++) {
                $scope.pages.push(i);
            }
        };

        $scope.getPages = function () {
            return $scope.pages || [];
        };

        $scope.setCurrentPage = function (page) {
            if (page >= 1 && page <= $scope.totalPages) {
                $scope.currentPage = page;
            }
        };
        //paging code end

        $scope.ok = function () {
            $scope.spinner_manual = true;
            let requestBodyModel = {
                ServiceName: $scope.serviceName_manual.toString()
            }

            let Url = '';
            if (window.location.hostname == 'localhost')
                Url = '/Sale/SalePostMonetizationBasicAsync_Manual';
            else
                Url = '/Sale/SalePostMonetizationBasicAsync_Manual';

            $http.post(Url, JSON.stringify(requestBodyModel), { headers: { 'Content-Type': 'application/json' } })
                .then(function (response) {
                    alert(response.data.errorMessage);
                    $scope.spinner_manual = false;
                    $("#manualBillModal").modal('hide');
                    $scope.load();
                })
                .catch(function (error) {
                    console.log(error);
                })
        }

        $scope.spinner_manual_employer = [];
        $scope.BillManuallyForEmployer = function (index, clientID, cP_id, acc_id, quantity, serviceGroup, serviceID, transDate, amount, secAmount, detailInfo, transID, paidBy, serviceName) {
            $scope.spinner_manual_employer[index] = true;
            var abc = $scope.autoBillingData[index].opid;
            let requestBodyModel = {
                OPID: $scope.autoBillingData[index].opid,
                ClientID: clientID,
                CP_ID: cP_id,
                Acc_Id: acc_id,
                Quantity: quantity,
                ServiceGroup: serviceGroup,
                ServiceID: serviceID,
                ReceivedDate: '',
                TransDate: transDate,
                PaidAmount: amount,
                Amount: secAmount,
                DetailInfo: detailInfo,
                TransID: transID,
                PaidBy: paidBy,
                ServiceName: serviceName
            }

            let Url = '';
            if (window.location.hostname == 'localhost')
                Url = '/API/PostSMSAlertApplyLimitSalePostingEmployeer';
            else
                Url = '/API/PostSMSAlertApplyLimitSalePostingEmployeer';

            $http.post(Url, JSON.stringify(requestBodyModel), { headers: { 'Content-Type': 'application/json' } })
                .then(function (response) {
                    alert(response.data.ErrorMessage);
                    $scope.spinner_manual_employer[index] = false;
                    $scope.load();
                })
                .catch(function (error) {
                    console.log(error);
                })
        }
    });
</script>
