
<head>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

@*     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 *@</head>
<div ng-app="myApp">
    <div ng-controller="myController">
        <div class="col-sm-12">
            <div class="row">
                <div class="text-center alert-info" style="font-size:20px;margin-top:-10px">List of Journal</div>
                <div class="col-sm-5">
                    <div class="row">
                        <div class="col-sm-6">
                            <label class="col-form-label">Ledger</label>
                            <select class="form-control form-control-sm" ng-model="ledger">
                                <option value="0" selected>Select</option>
                                <option ng-repeat="o in ledgers" value="{{o.id}}">{{o.ladgerName}}</option>
                            </select>
                        </div>
                        <div class="col-sm-6">
                            <label class="col-form-label">Approve By</label>
                            <select class="form-control form-control-sm" ng-model="approveBy">
                                <option value="0" selected>Select</option>
                                <option ng-repeat="o in approvers" value="{{o.userID}}">{{o.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <label class="col-form-label">Companies</label>
                            <input class="form-control form-control-sm" id="company" placeholder="Search Company Here" autocomplete="off" ng-model="searchQuery" ng-keyup="searchCompany(searchQuery)">
                            <select class="form-control form-control-sm" size="10" id="companyList" ng-model="comList" style="width: 200px; overflow:auto ;background: white none repeat scroll 0% 0%" ng-show="companyList.length > 0">
                                <option ng-repeat="company in companyList" value="{{company.id}}" ng-click="selectCompany(company)">{{company.name}}</option>
                            </select>
                        </div>
                        <div class="col-sm-6">
                            <label class="col-form-label">Posted By</label>
                            <select class="form-control form-control-sm" ng-model="postedBy">
                                <option value="0" selected>Select</option>
                                <option ng-repeat="user in users" value="{{user.userID}}">{{user.name}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2 mt-4">
                    <div style="border:1px solid lightgray;font-size:14px;padding:10px">
                        <span style="font-weight:bold">Journal Category</span>
                        <br />
                        <label class="mt-4"><input type="radio" name="radio" ng-model="approve" value="1" /> Approve</label>
                        <br />
                        <label class="mt-3"><input type="radio" name="radio" ng-model="approve" value="0" /> Non Approve</label>
                    </div>
                </div>
                <div class="col-sm-5 mt-4">
                    <div style="border:1px solid lightgray;font-size:14px;padding:10px">
                        <span style="font-weight:bold">Within Dates By</span>
                        <div class="col-sm-12 mt-3">
                            <div class="row">
                                <div class="col-sm-4">
                                    <label><input type="radio" name="radio1" ng-model="dateType" value="PostDate" /> Posting</label>
                                </div>
                                <div class="col-sm-4">
                                    <label><input type="radio" name="radio1" ng-model="dateType" value="JDate" /> Value</label>
                                </div>
                                <div class="col-sm-4">
                                    <label><input type="radio" name="radio1" ng-model="dateType" value="ApprovalDate" /> Approval</label>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-sm-6">
                                <div class="form-group row">
                                    <label class="col-sm-3">From</label>
                                    <div class="col-sm-9">
                                        <input type="date" class="form-control form-control-sm" ng-model="from" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group row">
                                    <label class="col-sm-3">To</label>
                                    <div class="col-sm-9">
                                        <input type="date" class="form-control form-control-sm" ng-model="to" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center mt-3">
                    <button class="btn btn-success btn-sm" style="padding-left:30px;padding-right:30px" ng-click="loadData()">Load</button>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="pull-left text-left" style="margin-top:20px;" ng-show="isVisible">
                    Show
                    <select id="page" ng-model="pageSize">
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="40">40</option>
                        <option value="50" selected>50</option>
                        <option value="60">60</option>
                        <option value="80">80</option>
                        <option value="100">100</option>
                        <option value="500">500</option>
                        <option value="1000">1000</option>
                        <option value="3000">3000</option>
                        <option value="5000">5000</option>
                        <option value="10000">10000</option>
                        <option value="10000000">All</option>
                    </select>
                    entries per page. (Total:{{totalItems}} data)                
                <div class="col-sm-12 row">
                    <div class="col-sm-6" style="margin-top:10px">
                        <button ng-click="prevSet()">Previous 5 Pages</button>
                        Page {{ currentPage }}
                        <button ng-click="nextSet()">Next Page</button>
                    </div>
                    <div class="col-sm-6">
                        <nav aria-label="Page navigation">
                            <ul class="pagination" style="margin-top: 10px">
                                <li class="page-item" ng-class="{ 'active': currentPage == page }" ng-repeat="page in getPages()">
                                    <a class="page-link" href="#" ng-click="setPage(page)">{{ page }}</a>
                                </li>
                            </ul>
                        </nav>
                    </div>


                </div>
            </div>            
        </div>


        <table ng-show="showTable" class="table table-bordered table-sm" style="font-size:15px">
            <tr style="background-color:skyblue">
                <td>Sl#</td>
                <td>Id</td>
                <td>Ledger name</td>
                <td>Description</td>
                <td>Debt</td>
                <td>Credit</td>
                <td>Date</td>
            </tr>
            <tbody>
                <tr ng-repeat="data in journalData">
                    <td>{{$index + 1}}</td>
                    <td>{{data.id}}</td>
                    <td>{{data.sbName}}</td>
                    <td>{{data.description}}</td>
                    <td>{{data.debt}}</td>
                    <td>{{data.credit}}</td>
                    <td>{{data.jDate}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script>
    var app = angular.module('myApp', []);
    app.controller('myController', function ($scope, $http) {
        angular.element(document).ready(function () {
            $scope.showTable = false;
            $scope.isVisible = false;
            $scope.ledger = '0';
            $scope.postedBy = '0';
            $scope.approveBy = '0';
            $scope.dateType = 'PostDate';
            $scope.approve = '0';
            $scope.getUser();
            $scope.getApprovers();
            $scope.getLedger();
            $scope.pageSize = '20';
        });

        $scope.currentPage = 1;
        $scope.pageSize = 20;
        $scope.totalItems = 0;

        $scope.getLedger = function () {
            $http.get('/Ledger/GetAllLedger')
                .then(function (response) {
                    $scope.ledgers = response.data;
                }, function (error) {
                    console.error(error);
                });
        };

        $scope.getUser = function () {
            $http.get('/Home/GetSpecificUser')
                .then(function (response) {
                    $scope.users = response.data;
                }, function (error) {
                    console.error(error);
                });
        };

        $scope.getApprovers = function () {
            $http.get('/Home/GetApprovers')
                .then(function (response) {
                    $scope.approvers = response.data;
                }, function (error) {
                    console.error(error);
                })
        }


        $scope.companyList = [];
        $scope.selectedCompany = null;

        $scope.searchCompany = function (startingKey) {
            if (startingKey && startingKey.length > 1) {
                $http.get('/Company/GetCompanyListByKey', { params: { startingKey: startingKey } })
                    .then(function (response) {
                        $scope.companyList = response.data;
                    }, function (error) {
                        console.error(error);
                    })
            } else {
                $scope.companyList = [];
            }
        };

        $scope.selectCompany = function (company) {
            $scope.selectedCompany = company;
            $scope.searchQuery = company.name;
            $scope.companyList = [];
        }

        $scope.loadData = function () {
            var requestData = {
                PageNo: $scope.currentPage,
                PageSize: $scope.pageSize,
                IsPreview: 0,
                DateType: $scope.dateType,
                StartDate: $scope.from,
                EndDate: $scope.to,
                LedgerId: $scope.ledger,
                LedgerName: '',
                CompanyId: $scope.selectedCompany ? $scope.selectedCompany.id : 0,
                ApprovedBy: $scope.approveBy,
                PostedBy: $scope.postedBy,
                IsApproved: $scope.approve
            };

            $http.post('/Journal/GetJournals', requestData)
                .then(function (response) {
                    $scope.showTable = true;

                    console.log(response.data);
                    $scope.journalData = response.data;
                    $scope.totalItems = response.data[0].totalRecords;

                    $scope.isVisible = true;
                }, function (error) {
                    console.error(error);
                })
        };

        $scope.loadData();

        $scope.nextPage = function () {
            if ($scope.currentPage < $scope.totalPages()) {
                $scope.currentPage++;
                $scope.loadData();
            }
        };

        // Function to go to the previous page
        $scope.prevPage = function () {
            if ($scope.currentPage > 1) {
                $scope.currentPage--;
                $scope.loadData();
            }
        };

        // Function to calculate the total number of pages
        $scope.totalPages = function () {
            return Math.ceil($scope.totalItems / $scope.pageSize);
        };

        // Inside your controller
        $scope.getPages = function () {
            var pages = [];
            var totalPages = $scope.totalPages();
            var startPage = Math.max(1, $scope.currentPage - 2); // Display 5 pages, centered around the current page
            var endPage = Math.min(totalPages, startPage + 4);

            for (var i = startPage; i <= endPage; i++) {
                pages.push(i);
            }
            return pages;
        };

        $scope.setPage = function (page) {
            $scope.currentPage = page;
            $scope.loadData();
        };

        $scope.nextSet = function () {
            var totalPages = $scope.totalPages();
            var nextStartPage = Math.min(totalPages - 4, $scope.currentPage + 1);
            $scope.currentPage = nextStartPage;
            $scope.loadData();
        };

        $scope.prevSet = function () {
            var prevStartPage = Math.max(1, $scope.currentPage - 5);
            $scope.currentPage = prevStartPage;
            $scope.loadData();
        };

    });
</script>