@{
    ViewData["Title"] = "View Journal";
}
<head>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<div class="card">
    <div class="card-body" style="background-color:whitesmoke;font-size:14px">
        <div ng-app="myApp">
            <div ng-controller="myController">
                <div class="col-sm-12">
                    <h4 class="text-center" style="margin-top:-15px">List of Journal</h4>
                    <div class="row" style="margin-top:-10px">
                        <div class="col-sm-5">
                            <div class="row">
                                <div class="col-sm-6">
                                    <label class="col-form-label">Ledger</label>
                                    <select class="form-control form-control-sm" ng-model="ledger">
                                        <option value="0" selected>Select</option>
                                        <option ng-repeat="o in ledgers" value="{{o.id}}">{{o.ladgerName}}</option>
                                    </select>
                                </div>
                                <div class="col-sm-6">
                                    <label class="col-form-label">Approve By</label>
                                    <select class="form-control form-control-sm" ng-model="approveBy">
                                        <option value="0" selected>Select</option>
                                        <option ng-repeat="o in approvers" value="{{o.userID}}">{{o.name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <label class="col-form-label">Companies</label>
                                    <input class="form-control form-control-sm" id="company" placeholder="Search Company Here" autocomplete="off" ng-model="searchQuery" ng-keyup="searchCompany(searchQuery)">
                                    <select class="form-control form-control-sm" size="10" id="companyList" ng-model="comList" style="position:absolute;z-index:999;width: 200px; overflow:auto ;background: white none repeat scroll 0% 0%" ng-show="companyList.length > 0">
                                        <option ng-repeat="company in companyList" value="{{company.id}}" ng-click="selectCompany(company)">{{company.name}}</option>
                                    </select>
                                </div>
                                <div class="col-sm-6">
                                    <label class="col-form-label">Posted By</label>
                                    <select class="form-control form-control-sm" ng-model="postedBy">
                                        <option value="0" selected>Select</option>
                                        <option ng-repeat="user in users" value="{{user.userID}}">{{user.name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2 mt-3">
                            <fieldset class="border p-2">
                                <legend class="float-none w-auto fs-6">
                                    Journal Category
                                </legend>
                                <label><input type="radio" name="radio" ng-model="approve" value="1" /> Approve</label>
                                <br />
                                <label class="mt-2"><input type="radio" name="radio" ng-model="approve" value="0" /> Non Approve</label>
                            </fieldset>
                        </div>
                        <div class="col-sm-5 mt-3">
                            <fieldset class="border p-2">
                                <legend class="float-none w-auto fs-6">
                                    Within Dates By
                                </legend>

                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <label><input type="radio" name="radio1" ng-model="dateType" value="PostDate" /> Posting</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <label><input type="radio" name="radio1" ng-model="dateType" value="JDate" /> Value</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <label><input type="radio" name="radio1" ng-model="dateType" value="ApprovalDate" /> Approval</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <label class="col-sm-4">From</label>
                                            <div class="col-sm-8">
                                                <input type="date" class="form-control form-control-sm" ng-model="from" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <label class="col-sm-4">To</label>
                                            <div class="col-sm-8">
                                                <input type="date" class="form-control form-control-sm" ng-model="to" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </fieldset>
                        </div>
                        <div class="text-center mt-2">
                            <button class="btn btn-success btn-sm px-5" " ng-click="loadData()">
                                Load
                                &nbsp;<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" ng-show="spinner"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row mt-2" ng-show="isVisible">
                    <div class="col-sm-6">
                        <div class="pull-left text-left">
                            Show
                            <select id="page" ng-model="itemsPerPage">
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="40">40</option>
                                <option value="50" selected>50</option>
                                <option value="60">60</option>
                                <option value="80">80</option>
                                <option value="100">100</option>
                                <option value="500">500</option>
                                <option value="1000">1000</option>
                                <option value="3000">3000</option>
                                <option value="5000">5000</option>
                                <option value="10000">10000</option>
                                <option value="10000000">All</option>
                            </select>
                            entries per page. (Total:{{totalItems}} data)


                        </div>
                    </div>
                    <div class="col-sm-6 d-flex justify-content-end">
                            @* section paging *@
                        <nav aria-label="...">
                            <ul class="pagination">
                                <li class="page-item" ng-class="{ disabled: currentPage === 1 }">
                                    <a class="page-link" href="#" ng-click="setCurrentPage(currentPage - 1)" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>

                                <!-- The ng-repeat code you provided -->
                                <li class="page-item" ng-repeat="page in getPages()" ng-class="{ active: currentPage === page }">
                                    <a class="page-link" href="#" ng-click="setCurrentPage(page)">{{ page }}</a>
                                </li>

                                <li class="page-item" ng-class="{ disabled: currentPage === totalPages }">
                                    <a class="page-link" href="#" ng-click="setCurrentPage(currentPage + 1)" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                            @* section paging end *@
                    </div>

                </div>
                <div>
                    <table ng-show="showTable" class="table table-bordered table-sm">
                        <tr style="background-color:skyblue ; text-align: center">
                            <td>Sl#</td>
                            <td>Id</td>
                            <td>Ledger name</td>
                            <td>Description</td>
                            <td>Debit</td>
                            <td>Credit</td>
                            <td>Date</td>
                        </tr>
                        <tbody>
                            <tr ng-repeat="data in journalData">
                                <td class="text-center">{{$index + 1}}</td>
                                <td class="text-center">{{data.id}}</td>
                                <td>{{data.sbName}}</td>
                                <td>{{data.description}}</td>
                                <td class="text-right">{{numberToAmount(data.debt)}}</td>
                                <td class="text-right">{{numberToAmount(data.credit)}}</td>
                                <td class="text-center">{{data.jDate}}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr style="font-weight:bold">
                                <td colspan="4" style="text-align:right">Total</td>
                                <td class="text-right">{{totalDebit | number}}</td>
                                <td class="text-right">{{totalCredit | number}}</td>
                                <td></td>
                            </tr>
                        </tfoot>
                    </table>

                </div>

            </div>
        </div>
    </div>
</div>

<script>
    var app = angular.module('myApp', []);
    app.controller('myController', function ($scope, $http) {
        angular.element(document).ready(function () {
            $scope.showTable = false;
            $scope.isVisible = false;
            $scope.ledger = '0';
            $scope.postedBy = '0';
            $scope.approveBy = '0';
            $scope.dateType = 'PostDate';
            $scope.approve = '0';
            $scope.getUser();
            $scope.getApprovers();
            $scope.getLedger();
            $scope.itemsPerPage = '20';
            $scope.maxPageLength = 5;
            $scope.currentPage = 1;
            $scope.totalItems = 0;
        });
        $scope.from = new Date();
        $scope.to = new Date();


        $scope.getLedger = function () {
            let Url = '';
            if (window.location.hostname == 'localhost')
                Url = '/Ledger/GetAllLedger';
            else
                Url = '/AccountingNew/Ledger/GetAllLedger';
            $http.get(Url)
                .then(function (response) {
                    $scope.ledgers = response.data;
                }, function (error) {
                    console.error(error);
                });
        };
        $scope.numberToAmount = (num) => {
            let amountConvertar = new Intl.NumberFormat('en-In', {
            }).format(num);
            return amountConvertar;
        }

        $scope.getUser = function () {
            let Url = '';
            if (window.location.hostname == 'localhost')
                Url = '/Home/GetSpecificUser';
            else
                Url = '/AccountingNew/Home/GetSpecificUser';
            $http.get(Url)
                .then(function (response) {
                    $scope.users = response.data;
                }, function (error) {
                    console.error(error);
                });
        };

        $scope.getApprovers = function () {
            let Url = '';
            if (window.location.hostname == 'localhost')
                Url = '/Home/GetApprovers';
            else
                Url = '/AccountingNew/Home/GetApprovers';
            $http.get(Url)
                .then(function (response) {
                    $scope.approvers = response.data;
                }, function (error) {
                    console.error(error);
                })
        }


        $scope.companyList = [];
        $scope.selectedCompany = null;

        $scope.searchCompany = function (startingKey) {
            if (startingKey && startingKey.length > 1) {

                let Url = '';
                if (window.location.hostname == 'localhost')
                    Url = '/Company/GetCompanyListByKey';
                else
                    Url = '/AccountingNew/Company/GetCompanyListByKey';

                $http.get(Url, { params: { startingKey: startingKey } })
                    .then(function (response) {
                        $scope.companyList = response.data;
                    }, function (error) {
                        console.error(error);
                    })
            } else {
                $scope.companyList = [];
            }
        };

        $scope.selectCompany = function (company) {
            $scope.selectedCompany = company;
            $scope.searchQuery = company.name;
            $scope.companyList = [];
        }

        $scope.loadData = function () {
            var requestData = {
                PageNo: $scope.currentPage,
                PageSize: $scope.itemsPerPage,
                IsPreview: 0,
                DateType: $scope.dateType,
                StartDate: $scope.from.toISOString().split('T')[0],
                EndDate: $scope.to.toISOString().split('T')[0],
                LedgerId: $scope.ledger,
                LedgerName: '',
                CompanyId: $scope.selectedCompany ? $scope.selectedCompany.id : 0,
                ApprovedBy: $scope.approveBy,
                PostedBy: $scope.postedBy,
                IsApproved: $scope.approve
            };

            let Url = '';
            if (window.location.hostname == 'localhost')
                Url = '/Journal/GetJournals';
            else
                Url = '/AccountingNew/Journal/GetJournals';

            $scope.spinner = true;
            $http.post(Url, requestData)
                .then(function (response) {
                    if (response.data == 0) {
                        alert('There is no data to shown.')
                        $scope.spinner = false;
                        $scope.showTable = false;
                    }
                    $scope.journalData = response.data;
                    $scope.totalDebit = $scope.journalData.reduce((a, b) => a + b.debt, 0);
                    $scope.totalCredit = $scope.journalData.reduce((a, b) => a + b.credit, 0);
                    $scope.totalItems = response.data[0].totalRecords;
                    $scope.showTable = true;
                    $scope.isVisible = true;
                    $scope.spinner = false;
                }, function (error) {
                    console.error(error);
                    $scope.spinner = false;
                })
        };
        // paging code
        $scope.$watch('totalItems', function () {
            $scope.calculatePages();
        });

        $scope.$watch('itemsPerPage', function () {
            $scope.calculatePages();
        });

        $scope.$watch('currentPage', function () {
            if ($scope.currentPage > 1) {
                $scope.calculatePages();
                $scope.loadData();
            }
            else {
                $scope.calculatePages();
            }

        });

        $scope.calculatePages = function () {
            $scope.totalPages = Math.ceil($scope.totalItems / $scope.itemsPerPage);
            $scope.pages = [];

            var startPage = Math.max(1, $scope.currentPage - Math.floor($scope.maxPageLength / 2));
            var endPage = Math.min($scope.totalPages, startPage + $scope.maxPageLength - 1);

            for (var i = startPage; i <= endPage; i++) {
                $scope.pages.push(i);
            }
        };

        $scope.getPages = function () {
            return $scope.pages || [];
        };

        $scope.setCurrentPage = function (page) {
            if (page >= 1 && page <= $scope.totalPages) {
                $scope.currentPage = page;
            }
        };
        //paging code end
    });
</script>