@{
    ViewData["Title"] = "VatTaxCollectionReport";
}


<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>

<div ng-app="myApp">
    <div ng-controller="myController">
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Company</label>
                    <div class="col-sm-8">
                        <input class="form-control form-control-sm" id="company" placeholder="Search Company Here" autocomplete="off" ng-model="searchQuery" ng-keyup="searchCompany(searchQuery)">
                        <select class="form-control form-control-sm" size="10" id="companyList" ng-model="comList" style="position:absolute;z-index:999;width: 200px; overflow:auto ;background: white none repeat scroll 0% 0%;" ng-show="companyList.length > 0">
                            <option ng-repeat="company in companyList" value="{{company.id}}" ng-click="selectCompany(company)">{{company.name}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">From Date</label>
                    <div class="col-sm-8">
                        <input type="date" class="form-control form-control-sm" ng-model="fromDate" />
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">To Date</label>
                    <div class="col-sm-8">
                        <input type="date" class="form-control form-control-sm" ng-model="toDate" />
                    </div>
                </div>
            </div>
            <div class="col-sm-1">
                <button class="btn btn-primary btn-sm px-4" ng-click="load()">Load</button>
            </div>
        </div>

        <table ng-show="showTable" class="table table-bordered table-sm mt-3" style="font-size:15px">
            <tr style="background-color:skyblue">
                <td class="text-center">Sl#</td>
                <td class="text-center">Customer BIN</td>
                <td class="text-center">Name of the Customer</td>
                <td class="text-center">Customer Address</td>
                <td class="text-center">Total Value (Inc. VAT)</td>
                <td class="text-center">VDS (Tk.)</td>
                <td class="text-center">Mushok 6.3 No.</td>
                <td class="text-center">Mushok Date</td>
                <td class="text-center">VDS Certificate No</td>
                <td class="text-center">VDS Certificate Date</td>
                <td class="text-center">Govt. Account Code</td>
                <td class="text-center">Service Name</td>
            </tr>
            <tbody>
                <tr ng-repeat="data in vatTaxData">
                    <td class="text-center">{{$index + 1}}</td>
                    <td class="text-center">{{data.vatRegNo}}</td>
                    <td class="text-center">{{data.name}}</td>
                    <td class="text-end">{{data.address}}</td>
                    <td class="text-end">{{data.tAmount | number}}</td>
                    <td class="text-center">{{data.challanAmount}}</td>
                    <td class="text-center">{{data.challanNo}}</td>
                    <td class="text-center">{{data.postingDate | date: "dd-MM-yyyy"}}</td>
                    <td class="text-center">{{data.vdS_CertificateNo}}</td>
                    <td class="text-center">{{ data.vdS_CertificateDate === "0001-01-01T00:00:00" ? "" : (data.vdS_CertificateDate | date: "dd-MM-yyyy") }}</td>
                    <td class="text-center">{{data.challanACCode}}</td>
                    <td class="text-center">{{data.serviceName}}</td>
                    
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script>
    var app = angular.module('myApp', []);
    app.controller('myController', function ($scope, $http) {
        angular.element(document).ready(function () {

        })

        $scope.companyList = [];
        $scope.selectedCompany = null;

        $scope.searchCompany = function (startingKey) {
            if (startingKey && startingKey.length > 1) {
                let Url = '';
                if (window.location.hostname == 'localhost')
                    Url = '/Company/GetCompanyListByKey';
                else
                    Url = '/AccountingNew/Company/GetCompanyListByKey';

                $http.get(Url, { params: { startingKey: startingKey } })
                    .then(function (response) {
                        $scope.companyList = response.data;
                    }, function (error) {
                        console.error(error);
                    })
            } else {
                $scope.companyList = [];
            }
        };

        $scope.selectCompany = function (company) {
            $scope.selectedCompany = company;
            $scope.searchQuery = company.name;
            $scope.companyList = [];
        }

        $scope.fromDate = new Date();
        $scope.toDate = new Date();

        $scope.load = function () {
            let requestBodyModel = {
                CId: $scope.comList == undefined ? 0 : $scope.comList,
                FromDate: $scope.fromDate,
                ToDate: $scope.toDate
            }

            let Url = '';
            if (window.location.hostname == 'localhost')
                Url = '/Report/LoadVatTaxCollectionData';
            else
                Url = '/AccountingNew/Report/LoadVatTaxCollectionData';

            $http.post(Url, JSON.stringify(requestBodyModel), { headers: { 'Content-Type': 'application/json' } })
                .then(function (response) {
                    $scope.vatTaxData = response.data;
                    $scope.showTable = true;
                })
                .catch(function (error) {
                    console.log(error);
                })
        }
    })
</script>